/* chart */
.graphic { width: 100%; }
.graphic img {
    max-width: 100%;
    height: auto;
}
.graphic svg { margin-bottom: 1em; }
.graphic .axis {
    font-size: 12px;
    fill: #666;
}
.graphic .axis path,
.graphic .axis line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
    clip-path: url(#clip);
}
.graphic .axis.y path { display: none; }
.graphic .axis.y .tick line { display: none; }
.graphic .grid path { display: none; }
.graphic .grid .tick {
    stroke: #ccc;
    stroke-dasharray: 1px 3px;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.graphic .line {
    fill: none;
    stroke-width: 3px;
    stroke: #11605E;
    clip-path: url(#clip);
}

.graphic .area {
    fill: lightgray;
    clip-path: url(#clip);
}

.graphic .circle {
    fill: blue;
    clip-path: url(#clip);
}

.graphic rect.pane {
    //cursor: move;
    fill: none;
    pointer-events: all;
}

.graphic .brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
    clip-path: url(#clip);
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}