@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:400;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.well.temperature
{
    background-color: lightgreen;
}
.well.bloodPressure
{
    background-color: lightgoldenrodyellow;
}

/**
 * default development theme for jQRangeSlider
 * Using fam fam icon set from Mark James, http://www.famfamfam.com/lab/icons/silk/ (Creative Commons Attribution 2.5 License)
 */

.ui-rangeSlider{
    height:22px;
}

.ui-rangeSlider .ui-rangeSlider-innerBar{
    height:16px;
    margin:3px 6px;
    background:#DDD;
}

.ui-rangeSlider .ui-rangeSlider-handle{
    width:6px;
    height:22px;
    background:#AAA;
    background:rgba(100,100,100, 0.3);
    cursor:col-resize;
}

.ui-rangeSlider .ui-rangeSlider-bar{
    margin: 1px 0;
    background:#CCC;
    background:rgba(100,100,150, 0.2);
    height:20px;
    cursor:move;
    cursor:grab;
    cursor: -moz-grab;
}

.ui-rangeSlider .ui-rangeSlider-bar.ui-draggable-dragging{
    cursor:	-moz-grabbing;
    cursor:grabbing;
}

.ui-rangeSlider-arrow{
    height:16px;
    margin:2px 0;
    width:16px;
    background-repeat:no-repeat;
}

.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow{
    background-image: url('../images/resultset_previous.png');
    background-position:center left;
}

.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow{
    background-image: url('../images/resultset_next.png');
    background-position:center right;
}

.ui-rangeSlider-arrow-inner{
    display: none;
}

.ui-rangeSlider-container{
    height:22px;
}

.ui-rangeSlider-withArrows .ui-rangeSlider-container{
    margin:0 11px;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container{
    margin:0;
}

.ui-rangeSlider-label{
    margin:0 2px 2px;
    background-image:url('../images/label.png');
    background-position:bottom center;
    background-repeat:no-repeat;
    white-space: nowrap;
    bottom:20px;
    padding:3px 6px 7px;
    cursor:col-resize;
}

.ui-rangeSlider-label-inner{
    display:none;
}

/*
 * Edit slider
 */

input.ui-editRangeSlider-inputValue{
    width:3em;
    vertical-align: middle;
    text-align:center;
}

/* #Tabs  */
.mdl-tabs__tab-bar {
    display:table;
    width:100%;
    border-bottom:1px solid #0F1217;
    background:#ffffff;
}
.mdl-tabs__tab {
    border: medium none;
    color: rgba(0, 0, 0, 0.54);
    display: table-cell;
    float: none;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    margin: 0;
    padding: 0 5px;
    text-align:center;
    vertical-align: middle;
}

.mdl-tabs__panel {
    padding-top:20px;
}

.mdl-tabs__tab > img {
    width:38px;
    height:38px;
    margin:auto;
    opacity: 0.75;
}
.mdl-tabs__tab.is-active > img {
    opacity: 1;
}

/* #Buttons */
.btn {
    .text-uppercase;
    font-size:16px;
    padding:6px 12px;
    border-radius:5px;
    border-width:1px;
    border-color:limegreen;
    border-style:solid;
}

.btn-default, .btn-default:focus {
    border-radius:0;
    padding:10px 15px;
    border:none;
    background:#88bb00;
    color:#ffffff;
    text-transform:uppercase;
    font-size:16px;
    text-decoration:none;
    outline:none;
}
.btn-default:hover {
    background:#6c9500;
    text-decoration:none;
    color:#ffffff;
}




/* #Panel Header */
.panel-header {
    display:table;
    width:100%;
}

.left-side-container {
    display:table-cell;
    vertical-align: middle;
}

.icon-left {
    padding-right:15px;
}

.button-container {
    display:table-cell;
    vertical-align: middle;
}

/* #wells  */
body .container .well,
body .container-fluid .well,
body .container .jumbotron,
body .container-fluid .jumbotron {
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0.2);
}

.well-container {
    display:table;
    width:100%;
    background:#ffffff;
    color:#ffffff;
    height:100px;
    border-spacing: 10px;
}

.well-container > .well-cell {
    display:table-cell;
    vertical-align: bottom;
    position:relative;
}

.well-container .well-cell .category-icon {
    position:absolute;
    top:0;
    left:0;
    width:28px;
    height:28px;
}

.well-container .well-cell .date-time {
    font-size:12px;
    display:block;
    position:absolute;
    top:0;
    right:0;
}

.well-container .measure-value {
    white-space: nowrap;
    margin-left:20px;
    letter-spacing: -1px;
    line-height: 40px;
    display:inline-block;
    position: relative;
}

.well-container a {
    color:#ffffff !important;
}

.well-container .btn {
    border-color:#ffffff;
    margin:0;
}

.well-container.bloodPressure {
    background:#cc0033;
}

.well-container .icon {
    width:30px;
    height:30px;
    position:absolute;
    top:0;
    left:0;
    display:block;
    text-indent:-9999px;
}

.well-container .value {
    font-size:54px;
    float:left;
}

.well-container sup {
    font-size:16px;
    vertical-align: bottom;
    top:-0.5em;
}

.well-container.temperature {
    background:#88bb00;
}
.well-container.temperature .icon {
    background:url('../images/wells/icon-temperature.png') no-repeat;
}

.well-container.heartRate {
     background:#dd3300;
}
.well-container.heartRate .icon {
    background:url('../images/wells/icon-heart.png') no-repeat;
}

.well-container.bloodGlucose {
    background:#ff6b00;
}
.well-container.bloodGlucose .icon {
    background:url('../images/wells/icon-blood.png') no-repeat;
}

.well-container.bloodPressure {
    background:#ff6b00;
}
.well-container.bloodPressure .icon {
    background:url('../images/wells/icon-blood.png') no-repeat;
}

.well-container.bloodOxygen {
    background:#ff007b;
}
.well-container.bloodOxygen .icon {
    background:url('../images/wells/icon-blood-oxygen.png') no-repeat;
}

.well-container.respiratoryRate {
    background:#0060ff;
}
.well-container.respiratoryRate .icon {
    background:url('../images/wells/icon-respiration.png') no-repeat;
}

.well-container.weight {
    background:#008f98;
}
.well-container.weight .icon {
    background:url('../images/wells/icon-weight.png') no-repeat;
}

/* #Carts page */
ul.chart-tabs {
    background:#669900;
}
ul.chart-tabs > li > a {
    width:60px;
    height:40px;
    display:inline-block;
    background-position:center;
    background-repeat:no-repeat;
    text-indent:-9999px;
    cursor:pointer;
    padding:0;
    border-radius:0;
    opacity:0.5;
}
ul.chart-tabs > li.active > a {
    opacity:1;
    border-bottom:4px solid #ffffff !important;
}

ul.chart-tabs > li > a.tab-chart {
    background-image:url('../images/tab-chart.png');
}
ul.chart-tabs > li > a.tab-table {
    background-image:url('../images/tab-table.png');
}

/* Loading spinner */
.spinner-wrapper
{
    margin-top: 40px;
}

.spinner
{
    -webkit-animation: rotation 1.4s linear infinite;
    animation: rotation 1.4s linear infinite;
}

@-webkit-keyframes rotation
{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotation
{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.circle
{
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: turn 1.4s ease-in-out infinite;
    animation: turn 1.4s ease-in-out infinite;
}

@-webkit-keyframes turn
{
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes turn
{
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

svg
{
    stroke:#8bc34a;
}

/* #Buttons Group */
.fc-button-group {
    padding-top:8px;
}
.fc-button-group .fc-state-default {
    border-radius:0;
    background:#ffffff;
    height:35px;
    border-color:#808080;
    box-shadow:0;
    text-shadow:0;
}

.fc-button-group .fc-state-default.fc-corner-left,
.fc-button-group .fc-state-default.fc-corner-right {
    width:30px;
    background:#88bb00;
    color:#ffffff;
}

.fc-toolbar h2 {
    font-size:28px;
}

.fc-view, .fc-view > table {
    background:#ffffff;
}

.fc-time-grid .fc-slats td {
    height:40px;
}

.fc td, .fc th {
    height:40px;
    vertical-align:middle;
    font-weight:400;
    font-size:16px;
}

/* #Modal Dialog */
.modal-dialog {

}

.modal-content .modal-header {
    border-bottom:1px solid #88bb00;
    padding:10px 15px;
    font-size:18px;
}

.modal-content .modal-header > h4 {
    padding:0;
    margin:0;
    font-size:18px;
}

.modal-content .modal-body {
    padding:15px;
}

.modal-content .modal-footer {
    padding:0 15px 15px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px)  {
    .fc-toolbar h2 {
        font-size:28px;
        width:100%;
    }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
    .fc-toolbar h2 {
        font-size:24px;
        width:100%;
    }
    .fc .fc-toolbar > * > * {
        float:left;
        clear:both;
    }

    .fc-button-group .fc-state-default.fc-corner-left,
    .fc-button-group .fc-state-default.fc-corner-right {
        width:26px;
    }

}