<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-calendar fa-fw "></i>
        Input patient NHS number </h4>
</div>
<div class="modal-body hidden-overflow ">

    <form name="nhsNumberForm" novalidate class="smart-form" id="scheduleForm">

        <section>
            <label class="text">
                    <input type="text"  name="nhsNumber" id="nhsNumber" required nhs-number-valid check-exists-group-member-nhs placeholder="NHS number" ng-model="nhsNumber"
                               autofocus >
            </label>
            <em ng-show="nhsNumberForm.nhsNumber.$dirty && nhsNumberForm.nhsNumber.$error.required" class="invalid">NHS Number is required.</em>
            <em ng-show="nhsNumberForm.nhsNumber.$dirty && nhsNumberForm.nhsNumber.$error.nhsNumberValid" class="invalid">NHS Number is not valid.</em>
            <em ng-show="nhsNumberForm.nhsNumber.$dirty && nhsNumberForm.nhsNumber.$error.checkExistsGroupMemberNhs" class="invalid">NHS Number already exists!</em>


        </section>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="apply()" ng-disabled="nhsNumberForm.$invalid" >Apply</button>
</div>
