

<div style="clear: both"></div>

<div style="padding-top: 8px">
    <md-table-container>
        <table md-table md-progress="promise">
            <thead md-head>
            <tr md-row>
                <th md-column>Member</th>
                <th md-column>Actions</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="patient in patientsGroupsMembers">
                <td md-cell>
                    <h3><a href="" ng-click="memberSelected(patient)">
                    {{patient.firstname}}&nbsp;{{patient.surname}}

               </a></h3>
                </td>


                <td md-cell>
                    <md-icon md-svg-src="resourses/img/material-icons/ic_person_black_24px.svg" class="name" ng-click="memberSelected(patient)">
                        <md-tooltip md-direction="bottom">
                            View
                        </md-tooltip>
                    </md-icon>
                    <md-icon md-svg-src="resourses/img/material-icons/ic_delete_forever_black_48px.svg" class="name" ng-click="deleteMember(patient)">
                        <md-tooltip md-direction="bottom">
                            Delete
                        </md-tooltip>
                    </md-icon>

                    <!--<md-icon md-svg-src="resourses/img/material-icons/ic_delete_forever_black_48px.svg" class="name" ng-click="deleteAlarmTemplate(alarmTemplate)">
                        <md-tooltip md-direction="bottom">
                            Delete
                        </md-tooltip>
                    </md-icon>-->
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>