<div ng-cloak>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <h2><md-icon md-svg-src="resourses/img/material-icons/ic_group_black_24px.svg" class="name"></md-icon>&nbsp;&nbsp;{{currentGroupName}} Group</h2>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab ui-sref="provider.patients_groups_members.members">
                <md-tab-label><md-icon md-svg-src="resourses/img/material-icons/ic_group_black_24px.svg" class="tab-icon"></md-icon>&nbsp;&nbsp;Members</md-tab-label>
                <md-tab-body><ui-view></ui-view></md-tab-body>

            </md-tab>
            <md-tab ui-sref="provider.patients_groups_members.groupalarmrules">
                <md-tab-label><md-icon md-svg-src="resourses/img/material-icons/ic_add_alert_black_48px.svg" class="tab-icon"></md-icon>&nbsp;&nbsp;Alarm rules</md-tab-label>
                <md-tab-body><ui-view></ui-view></md-tab-body>
            </md-tab>
            <md-tab ui-sref="provider.patients_groups_members.schedules">
                <md-tab-label><md-icon md-svg-src="resourses/img/material-icons/ic_alarm_add_black_48px.svg" class="tab-icon"></md-icon>&nbsp;&nbsp;Schedule plan</md-tab-label>
                <md-tab-body><ui-view></ui-view></md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
    <div class="fab-action-button">
        <md-button class="md-fab md-primary md-ink-ripple" ng-click="addPatient()" ng-if="'provider.patients_groups_members.members' | isState">
            <md-icon md-svg-src="resourses/img/material-icons/ic_add_black_48px.svg"></md-icon>
        </md-button>

        <md-button class="md-fab md-primary md-ink-ripple" ng-click="addAlarmTemplate()" ng-if="'provider.patients_groups_members.groupalarmrules' | isState">
            <md-icon md-svg-src="resourses/img/material-icons/ic_add_black_48px.svg"></md-icon>
        </md-button>
    </div>
</div>