.mdl-card {
    min-height: 100px;
}

.mdl-progress {
    height: 6px;
}

.mdl-progress>.progressbar {
    background-color: #651FFF;
}

.questions-list{
    list-style-type: none;
}

.question-answer {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1;
    min-height: 48px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0 0 16px 0;
    cursor: default;
    color: rgba(0,0,0,.87);
}

.answer {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    color: rgba(0,0,0,.54);
    display: block;
    padding: 0;
}