<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Vital Signs</title>
    <link rel="stylesheet" type="text/css" href="../styles/googleapi-fonts.css">
    <link rel="stylesheet" href="../styles/googleapi-fonts-icon.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/bootstrap-material-design.css">
    <link rel="stylesheet" href="../styles/ripples.min.css">
    <link rel="stylesheet" href="../styles/tabs.css">
    <link rel="stylesheet" href="../styles/mobile.css">

    <script src="../scripts/jsapi.js"></script>
    <script src="../scripts/google-api.js"></script>
</head>
<body ng-app="mobileApp">

<div class="mdl-tabs mdl-js-tabs is-upgraded" data-upgraded=",MaterialTabs">
    <div class="mdl-tabs__tab-bar">
        <a class="mdl-tabs__tab" href="#tab1">
            <img src="../images/tab-icons/icon-people.png"/>
        </a>
        <a class="mdl-tabs__tab is-active" href="#tab2">
            <img src="../images/tab-icons/icon-person.png"/>
        </a>
        <a class="mdl-tabs__tab" href="#tab3">
            <img src="../images/tab-icons/icon-alerts.png"/>
        </a>
        <a class="mdl-tabs__tab" href="#tab4">
            <img src="../images/tab-icons/icon-reports.png"/>
        </a>
        <a class="mdl-tabs__tab" href="#tab5">
            <img src="../images/tab-icons/icon-timer.png"/>
        </a>
        <a class="mdl-tabs__tab" href="#tab6">
            <img src="../images/tab-icons/icon-list.png"/>
        </a>
    </div>

    <div id="tab1" class="mdl-tabs__panel">
        Tab1 Content
    </div>
    <div id="tab2" class="mdl-tabs__panel is-active">
        <div class="container" ng-controller="VitalSignsCtrl">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-header">
                        <div class="left-side-container">
                            <img src="../images/icon-latest-readings.png" class="icon-left"/>Latest Readings
                        </div>
                        <div class="button-container text-right">
                            <a href="vital_signs_charts.html" class="btn">More</a>
                        </div>
                    </div>

                    <div class="measure {{measure.deviceType}}" ng-repeat="measure in measures" ng-hide="currentHistory">
                        <h5>{{measure.device}}</h5>
                        <div class="well-container {{measure.deviceType}}">
                            <div class="well-cell">
                                <img src="../images/wells/icon-temperature.png" class="category-icon"/>
                                <span class="measure-value">
                                    {{measure.valueForUI}} {{measure.deviceUnit}}
                                </span>
                            </div>
                            <div class="well-cell text-right">
                                <span class="date-time">{{measure.time}}</span>
                                <a href="javascript:void(0);" class="btn" ng-click="viewHistory(measure.deviceType);">More Info</a>
                            </div>
                        </div>
                    </div>

                    <div class="chart-details" ng-show="currentHistory">

                        <a href="javascript:void(0);" ng-click="goToLatestReadings();">Back</a>

                        <google-chart dashboard="currentHistory.dashboard" chartid="currentHistory.Id"></google-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab3" class="mdl-tabs__panel">
        Tab3 Content
    </div>
    <div id="tab4" class="mdl-tabs__panel">
        Tab4 Content
    </div>
    <div id="tab5" class="mdl-tabs__panel">
        Tab5 Content
    </div>
    <div id="tab6" class="mdl-tabs__panel">
        Tab6 Content
    </div>
</div>



<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
<script src="../scripts/moment.min.js" type="application/javascript"></script>
<script src="../scripts/en-gb.js" type="application/javascript"></script>
<script src="../scripts/moment-with-locales.min.js" type="application/javascript"></script>
<script src="../scripts/jquery.min.js"></script>
<script src="../scripts/jquery-ui.min.js"></script>
<script src="../scripts/jQDateRangeSlider-min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>
<script src="../scripts/material.min.js" type="application/javascript"></script>
<script src="../scripts/ripples.min.js" type="application/javascript"></script>
<script src="../scripts/angular.min.js"></script>
<script src="../scripts/ui-bootstrap-tpls.js" type="application/javascript"></script>
<script src="../scripts/ngStorage.min.js"></script>
<script src="../scripts/angular-local-storage.js"></script>
<script src="../scripts/underscore-min.js"></script>
<script src="../scripts/angular-underscore-module.js"></script>
<script src="../scripts/angular-underscore.min.js"></script>
<script src="../scripts/rx.all.min.js"></script>
<script src="../scripts/rx.angular.min.js"></script>
<script src="../scripts/calendar.js" type="application/javascript"></script>
<script src="../scripts/fullcalendar.min.js" type="application/javascript"></script>
<script src="../scripts/scheduler.min.js" type="application/javascript"></script>

<script src="../mobileApp.js"></script>
<script src="../directives/googleChart.js"></script>
<script src="../services/common.js"></script>

<script src="vitalSignsService.js"></script>
<script src="vitalSigns.js"></script>

<script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.1', { packages: ['corechart', 'controls'] });
</script>

</body>
</html>