<md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
        <h3>Alarm Builder</h3>
    </div>
</md-toolbar>

<md-content class="md-padding">
    <form name="alarmBuilderForm" novalidate ng-submit="submitForm(alarmBuilderForm.$valid)">
        <fieldset>
            <section>
                <md-button type="submit" class="md-raised md-primary padding-left-right-16" style="float: right">Save Alarm</md-button>
            </section>

            <div style="clear: both"></div>

            <div class="smart-form">

                <section>
                    <label class="label">Group Alarm Name</label>
                    <label class="input" ng-class="alarmBuilderForm.alarmName.$invalid && formWasSubmitted ? 'state-error' : ''">
                        <i class="icon-append fa fa-bell-o" />
                        <input type="text" name="alarmName" placeholder="Alarm Name" ng-model="alarmTemplateModel.alarmName" required ng-disabled="alarmTemplateModel.alarmNameDisabled">
                        <b class="tooltip tooltip-top-right">Please enter an alarm name.</b>
                    </label>
                    <em ng-show="alarmBuilderForm.alarmName.$invalid && formWasSubmitted" class="invalid">Alarm Name is reuired!</em>
                </section>
                <section>
                    <label class="label">Group Alarm Description</label>
                    <label class="textarea" ng-class="alarmBuilderForm.alarmDescription.$invalid && formWasSubmitted ? 'state-error' : ''">
                        <i class="icon-append fa fa-comments-o" />
                        <textarea rows="5" type="text" name="alarmDescription" placeholder="Alarm Description" ng-model="alarmTemplateModel.alarmDescription" required />
                        <b class="tooltip tooltip-top-right">Please enter an alarm description.</b>
                    </label>
                    <em ng-show="alarmBuilderForm.alarmDescription.$invalid && formWasSubmitted" class="invalid">Alarm Description is reuired!</em>
                </section>
            </div>

            <section>
                <header>
                    <h2>Available Conditions</h2>
                </header>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="panel panel-primary" style="">
                            <div class="panel-heading">Devices Conditions</div>
                            <div class="panel-body">
                                <ul>
                                    <li ng-repeat="template in availableTemplates" ng-click="moveToConditions(template)"><span ng-bind-html="template.phrase | rawHtml"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="panel panel-success" ng-class="alarmTemplateModel.conditionsInvalid ? 'has-errors': ''">
                            <div class="panel-heading">Alarm conditions</div>
                            <div class="panel-body">
                                <ul class="selected-conditions">
                                    <li ng-repeat="condition in conditions"><div id="{{condition.id}}" bind-html-compile="condition.parsedCondition"></div></li>
                                </ul>
                            </div>
                        </div>
                        <em ng-show="alarmTemplateModel.conditionsInvalid" ng-class="alarmTemplateModel.conditionsInvalid ? 'has-error-message': ''">Conditions are invalid!</em>
                    </div>
                </div>
            </section>

            <section>
                <md-button type="submit" class="md-raised md-primary padding-left-right-16" style="float: right">Save Alarm</md-button>
            </section>

        </fieldset>
    </form>

    <script type="text/ng-template" id="valueModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Set a value</h3>
        </div>
        <div class="modal-body">
            <div class="form-inline">
                <div class="form-group">
                    <label for="value">{{label}}</label>
                    <input type="text" ng-class="cssClass" id="value" ng-model="model.value">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="operatorModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Set an operator</h3>
        </div>
        <div class="modal-body">
            <div class="form-inline" style="width: 158px; margin: 0 auto">
                <div class="form-group">
                    <select id="selectedOperator" ng-model="selectedOperator" ng-options="t.value for t in operators">
                        <!--<option ng-repeat="operator in operators" value="{{operator.id}}">{{operator.value}}</option>-->
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</md-content>