
<div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-user-md"></i> </span>
        <h2>{{currentGroupName}} available Schedules</h2>
    </header>
    <div>
        <div class="widget-body">
            <section>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Schedule type</th>
                        <th>Schedule time</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-repeat="groupSchedule in groupSchedules">
                        <td><a href="javascript:void(0)" ng-click="handleScheduleTypeSelected(groupSchedule)">{{groupSchedule.scheduleName}}</a></td>
                        <td>{{groupSchedule.dayTimePoints.join()}}</td>
              <!--        <td>
                            <ul>
                                <li ng-repeat="ruleText in alarmTemplate.rulesText">
                                    <div ng-bind-html="ruleText | rawHtml"></div>
                                </li>
                            </ul>
                        </td> -->

                    </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <div class="row">
                    <div class="col-xs-12"><button ui-sref="provider.patients_group_members.schedulebuilder" type="button" class="btn btn-primary push-right" style="float: right">Add</button></div>
                </div>
            </section>
        </div>
    </div>
</div>