files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFzzCCBLegAwIBAgIQakW6LvcxwU/wNHNyC6f6HTANBgkqhkiG9w0BAQsFADBB
      MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMdGhhd3RlLCBJbmMuMRswGQYDVQQDExJ0
      aGF3dGUgU1NMIENBIC0gRzIwHhcNMTYwNzI4MDAwMDAwWhcNMTcwNzI4MjM1OTU5
      WjB/MQswCQYDVQQGEwJHQjENMAsGA1UECAwES2VudDEYMBYGA1UEBwwPVHVuYnJp
      ZGdlIFdlbGxzMSUwIwYDVQQKDBxUcmljaHJvbWUgSGVhbHRoY2FyZSBMaW1pdGVk
      MSAwHgYDVQQDDBdhcHAudHJpY2hyb21laGVhbHRoLmNvbTCCASIwDQYJKoZIhvcN
      AQEBBQADggEPADCCAQoCggEBAKEaXsVW1rEhObgrM0drdPCAxlTuNlEP8YV3s9pV
      /WmO4S1BngSa5KlSjV7SW9a/SKukHwTBV1hxeYJwtL6Z65/l8pt6kM4IlfDxA72H
      0qMSR9Z5MPTqKG+MsR3ny+8eyKuu3zK9/FWArOZIapJCrE1jCMrPHyBecN8VkwLQ
      JvtilL66xVGepXGg5QvjIy8BbE68ak9BzTH1M0jktTfzOthoWHHb3fhL13ogstC/
      lr2npDI1ucG2QWw1u2b3GjsuRR5+pInrQkJkywRqGdUgFEk51BXbVMfasKZL4wjc
      rbBTykjdMk9D25O0GauDg2VUXhNYmSQEeK9ZK8Po6bvFhj8CAwEAAaOCAoMwggJ/
      MCIGA1UdEQQbMBmCF2FwcC50cmljaHJvbWVoZWFsdGguY29tMAkGA1UdEwQCMAAw
      bgYDVR0gBGcwZTBjBgZngQwBAgIwWTAmBggrBgEFBQcCARYaaHR0cHM6Ly93d3cu
      dGhhd3RlLmNvbS9jcHMwLwYIKwYBBQUHAgIwIwwhaHR0cHM6Ly93d3cudGhhd3Rl
      LmNvbS9yZXBvc2l0b3J5MA4GA1UdDwEB/wQEAwIFoDAfBgNVHSMEGDAWgBTCT0hX
      /NFPmsBdOH0OBdvZLrVSYDArBgNVHR8EJDAiMCCgHqAchhpodHRwOi8vdGouc3lt
      Y2IuY29tL3RqLmNybDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwVwYI
      KwYBBQUHAQEESzBJMB8GCCsGAQUFBzABhhNodHRwOi8vdGouc3ltY2QuY29tMCYG
      CCsGAQUFBzAChhpodHRwOi8vdGouc3ltY2IuY29tL3RqLmNydDCCAQYGCisGAQQB
      1nkCBAIEgfcEgfQA8gB3AN3rHSt6DU+mIIuBrYFocH4ujp0B1VyIjT0RxM227L7M
      AAABVjHXMsIAAAQDAEgwRgIhAPadqqJgradzmOhHuHqBrDJ75bzIuHH3bEhD1+lZ
      gGZ3AiEAqQ0+vKN3UFXkXn84OE3lbT2XckK3H09Z+GuN8tfJ5qMAdwCkuQmQtBhY
      FIe7E6LMZ3AKPDWYBPkb37jjd80OyA3cEAAAAVYx1zNVAAAEAwBIMEYCIQCFfAtp
      Ur0ELZgbSCi7nePLz+nvpkQSsNDJA4JG5CVckwIhAIYQKFCMZYS8IMqK0ngN83vz
      WflElfPlaI+xQycGaFSQMA0GCSqGSIb3DQEBCwUAA4IBAQBmzuaGRmOKVTjYcT0h
      QcIenKuTGYcSce7TAJRhbZ2iEauNZJXJYVJNT1RxS79Ge+bnPdqEV2Gk4uCT8B1Q
      vCxtmCLkXbiPMkL3L6JHpNu6hjbHauvpRLQD1aAp9/tgYNGutRd7mVSapPVTRWuP
      yaf2UMrBKdO8t6N8FsxcrrLlN+zHgj13UorgfoTF4xAMrrhujhxeilQCoHJOj3DG
      mB4x5es9ry7iAo6OJAlPddvtrWi+SwJhbbn4Ap8QUYoNMoT5da56ZMXsNoHtZnZy
      4fvFM+Dobn/BW5fXpvwz5yV7x2VWnRZAz0+PgoB6YeOlWQeQQbAu2RXU8or8XYXp
      119R
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEsjCCA5qgAwIBAgIQFofWiG3iMAaFIz2/Eb9llzANBgkqhkiG9w0BAQsFADCB
      qTELMAkGA1UEBhMCVVMxFTATBgNVBAoTDHRoYXd0ZSwgSW5jLjEoMCYGA1UECxMf
      Q2VydGlmaWNhdGlvbiBTZXJ2aWNlcyBEaXZpc2lvbjE4MDYGA1UECxMvKGMpIDIw
      MDYgdGhhd3RlLCBJbmMuIC0gRm9yIGF1dGhvcml6ZWQgdXNlIG9ubHkxHzAdBgNV
      BAMTFnRoYXd0ZSBQcmltYXJ5IFJvb3QgQ0EwHhcNMTMxMDMxMDAwMDAwWhcNMjMx
      MDMwMjM1OTU5WjBBMQswCQYDVQQGEwJVUzEVMBMGA1UEChMMdGhhd3RlLCBJbmMu
      MRswGQYDVQQDExJ0aGF3dGUgU1NMIENBIC0gRzIwggEiMA0GCSqGSIb3DQEBAQUA
      A4IBDwAwggEKAoIBAQCy/Ab7BJPS6lkgO0SFl1I55xDweuCwlEDaRvgMKLu5zmA4
      P9LYEUIbka1J7o/H3mzeN2/9iyA8bed009zVJIhBgInuNr7E1b6NUxOq5KW4kwq+
      7NrNPNQyVu/QTqC4l7s5UB5uZcP9ss7gWalICcb+vq78PjuBIJeLj0bfYGQHdbsb
      hjifR3s0zqHRl6122J+3Jtt5gDZI8sU3+NkyrnykU4HHmaFUOC9PdaC7WqW7zawC
      WxkC1RMYp86sdFUSBYubopVGZHI4zVobOhanvnGZjFQDuJZsAdM+Bpg/IYE7An4A
      R1MBHg5GQ/tLLdwLGugvmPh+0ZmrE2ykF95v9hX1AgMBAAGjggE7MIIBNzASBgNV
      HRMBAf8ECDAGAQH/AgEAMA4GA1UdDwEB/wQEAwIBBjAyBgNVHR8EKzApMCegJaAj
      hiFodHRwOi8vdDEuc3ltY2IuY29tL1RoYXd0ZVBDQS5jcmwwLwYIKwYBBQUHAQEE
      IzAhMB8GCCsGAQUFBzABhhNodHRwOi8vdDIuc3ltY2IuY29tMEEGA1UdIAQ6MDgw
      NgYKYIZIAYb4RQEHNjAoMCYGCCsGAQUFBwIBFhpodHRwczovL3d3dy50aGF3dGUu
      Y29tL2NwczApBgNVHREEIjAgpB4wHDEaMBgGA1UEAxMRU3ltYW50ZWNQS0ktMS01
      MzcwHQYDVR0OBBYEFMJPSFf80U+awF04fQ4F29kutVJgMB8GA1UdIwQYMBaAFHtb
      Rc+vzst6/TGSGmq280brV0hQMA0GCSqGSIb3DQEBCwUAA4IBAQCNBt5DyXYCytkj
      l17zY9d9RMIPawr1B+WLuPrgo/prgJK1AyzFN+DC5ZW1knAYKEKU7kt3agEPiyPs
      Vk30AGnlhMji6t5bPvY8BzqUymwnscyDGmBxJ9K/AvUeRNNI1abTdiEAnPqYZOsX
      Nj/rGzw+prHZWAYOctlovvGnINdS5KR3H3FwnVU1hTfhHU2UwnB/lUBuS32ytCkq
      A3nIuUxnYQSgiyf/WQDrVX/GtzM1LV5OrLjqEsXo97mrvnSSLLfZTcqELxzC8HJ8
      sjFuz4DliAc2UXu6Ya9tjSNbNKOVvKIxf/L157fo78S1JzLp955pxyvovrsMqufq
      YBLqJop4
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAoRpexVbWsSE5uCszR2t08IDGVO42UQ/xhXez2lX9aY7hLUGe
      BJrkqVKNXtJb1r9Iq6QfBMFXWHF5gnC0vpnrn+Xym3qQzgiV8PEDvYfSoxJH1nkw
      9Ooob4yxHefL7x7Iq67fMr38VYCs5khqkkKsTWMIys8fIF5w3xWTAtAm+2KUvrrF
      UZ6lcaDlC+MjLwFsTrxqT0HNMfUzSOS1N/M62GhYcdvd+EvXeiCy0L+WvaekMjW5
      wbZBbDW7ZvcaOy5FHn6kietCQmTLBGoZ1SAUSTnUFdtUx9qwpkvjCNytsFPKSN0y
      T0Pbk7QZq4ODZVReE1iZJAR4r1krw+jpu8WGPwIDAQABAoIBABS9ZVf4Xvk8ssaP
      4TEfl1Vi7qV+aUW0TL6G84N3MIGHYFvIJ8SmACwAMaz0XdhelcdrAIdHMKx1J1Rw
      mAQ1oozaOIpllADCQDNdg8LBmo9dyhvFTFUrU/tQXHjiH3HwP5tCjv9kT/jd8ORQ
      jE+5/56S0k3xrisnnVZK27sv+uS/zuVnMNOCRA9/mIH+eSrt6QgRQcDlQfHFmoI2
      NdnvMkWsMw7O4X8LABXr3VsNN8FxY/VVbLU0iCywmtf5JKSUgYErm6LwdUMsYBET
      8rmF+2avClx6XqXGZZVVAq0xEmyYHyEMm0khLxvoBZ7IUUKH0FDuKY0XLzQKT1Cq
      b6B3rPkCgYEAzZhdw1RzQJCfhdRxp3XMQIvvTbZ//MXQqTWpNXzAlZNtHYHN+yta
      gEDVRCGCze3763DqEL6JsQUJI7qAxtYq8bHcCStuOX+xh9g35fF7yowGAaLmYUSn
      vykMeDqlJve192TNzLHIg85FqgiYv5L6LcQgpehO2KzK9x0b4RHzZZ0CgYEAyJmS
      QIDxwZzlk/bf/GTaYyMCN3H6nsf5FJBnZxa1oMhhbpxfEsZAl25VvYwdHNcKIrBx
      nhHpzIkDR7Qb4uSRie3r3BK4YMuhxx5cBUyTPOJMRtuORKylQ1yUxUAhY0qMLD6U
      eBoN1FMYw1t+G2UWKlb4wym5cHTXG6Zp/KaQoosCgYANoKPWZqqdBPkN7d76spwv
      Sxc5l3c0UgharuvgV7yMLZF1+zykAWOmTKXWNkJtU/D20i0xnu+RhDvu2lXe2CNQ
      kfF7yh0sQoKJ9pL98tu5uT5MrXeHyv0zdo0VCw4XXyP4mf3qK36W/f0wIBG/4QYk
      MnPXi2ZuhkWNy6glawMvIQKBgQC04CxMdzgF4Qfs6/y5IuL74vQ7tE1L4HpKPY7P
      GF37NNMNnnfngNV69aTf/be+anOcJca8xeAvaheIDvHaG0jTurEiRcr0lIgx98D3
      kj1s94vZlFzqtVVqsM8AMLwqQGy19FOBG9T+b1Lzy8qgvvxGfxddOoEX0nKnXt1Q
      T4w40wKBgGnHc+eOchrOFOCAtl5295JjVhPqT9+gWFrx4hB6XS+SUWFYsNq2z5T6
      1UKFLcHZWDkTHdjrNIoNGJF8/osK4cBeEW9KIcZESyzsZl5oCEqFPQ3CkCnedRuL
      FmP6kRK1ZhyGHzd/txzzbrnMObYwO9SLCv/+HykneGL3pZI7xBcB
      -----END RSA PRIVATE KEY-----