<div ng-controller="loginCtrl" class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">

    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
            <form name="loginForm" novalidate id="login-form" class="smart-form client-form">
                <header>
                    Sign In
                </header>

                <fieldset>

                    <section>
                        <label class="label">E-mail</label>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                            <input type="email" name="email" ng-model="userCredentials.email" required>
                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
                        <em ng-show="loginForm.email.$error.$dirty && loginForm.email.$error.required" class="invalid">The username is required!</em>
                    </section>

                    <section>
                        <label class="label">Password</label>
                        <label class="input"> <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="password" ng-model="userCredentials.password" required>
                            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
                        <em ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="invalid">The password is required!</em>
                        <div class="note">
                            <a ui-sref="reset">Forgot password?</a>
                        </div>
                    </section>

                    <section>
                        <label class="checkbox">
                            <input type="checkbox" name="remember" checked="">
                            <i></i>Stay signed in</label>
                    </section>
                </fieldset>
                <footer>
                    <span></span>
                    <button ng-click="signIn()" class="btn btn-primary">
                        Sign in
                    </button>
                </footer>
            </form>

        </div>
    </div>
</div>