<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">

    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
            <form name="confirmForm" novalidate id="confirm-form" class="smart-form client-form">
                <header>
                    <b>Dear Friend</b>
                </header>

                <fieldset ng-show="showSendAgain">

                    <section>
                        <p>Provide please you email address in order to resent the activation email again and press Send button.</p>
                    </section>
                    <section>
                        <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                            <input type="email" name="email" placeholder="Email address" required ng-model="email">
                        </label>
                        <em ng-show="confirmForm.email.$dirty && confirmForm.email.$error.required" class="invalid">Email is required.</em>
                        <em ng-show="confirmForm.email.$dirty && confirmForm.email.$error.email" class="invalid">Email is invalid</em>
                    </section>
                    <section>
                        <a href='#' ng-disabled="!confirmForm.$valid" ng-click="submitSendConfirm()" style="border-radius:3px;background:#8bc34a;color:#fff;display:block;font-weight:700;font-size:16px;line-height:1.25em;margin:24px auto 24px;padding:10px 18px;text-decoration:none;width:180px;text-align:center"> Send </a>
                    </section>
                </fieldset>

                <fieldset ng-hide="showSendAgain">

                    <section>
                        <p>You account is not active yet.</p>
                           <p> Please activate it by confirming you subscription from the email message we have sent to you.</p>
                            <p>If you need to resend the email message again, <a href="#" ng-click="setShowForm()">click here.</a></p>
                    </section>
                </fieldset>

            </form>

        </div>
    </div>
</div>