<div class="tab-pane active" id="tab2">
    <br>
    <h3><strong>Step 3</strong> - Medical Information</h3>

    <div role="content">
        <div class="widget-body no-padding">
            <div class="smart-form">
                <form name="formMedical" novalidate>

                 <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="input" ng-class="formMedical.nhsNumber.$dirty &&
                                (formMedical.nhsNumber.$error.required && formMedical.nhsNumber.$error.nhsNumberValid && formMedical.nhsNumber.$error.checkExistsNhs)?'state-error':''">
                                    <input type="text" name="nhsNumber" required nhs-number-valid check-exists-nhs ng-model="newUser.nhsNumber" placeholder="NHS Number">
                                </label>
                                <em ng-show="formMedical.nhsNumber.$dirty && formMedical.nhsNumber.$error.required" class="invalid">NHS Number is required.</em>
                                <em ng-show="formMedical.nhsNumber.$dirty && formMedical.nhsNumber.$error.nhsNumberValid" class="invalid">NHS Number is not valid.</em>
                                <em ng-show="formMedical.nhsNumber.$dirty && formMedical.nhsNumber.$error.checkExistsNhs" class="invalid">NHS Number already exists!</em>
                            </section>
                            <section class="col col-6">
                                <label class="select" ng-class="formMedical.ethnicity.$dirty && formMedical.ethnicity.$error.isEthnicityValid?'state-error':''">
                                    <select class="input-md" name="ethnicity" ng-init="newUser.ethnicity=0" ng-model="newUser.ethnicity" is-ethnicity-valid>
                                        <option value="0" selected>Choose ethnicity</option>
                                        <option value="British/Mixed British">British/Mixed British</option>
                                        <option value="Irish">Irish</option>
                                        <option value="Other White Background">Other White Background</option>
                                        <option value="White & BlackCaribbean">White & BlackCaribbean</option>
                                        <option value="White & Black African">White & Black African</option>
                                        <option value="Other Mixed Background">Other Mixed Background</option>
                                        <option value="Indian/ British Indian">Indian/ British Indian</option>
                                        <option value="Pakistani/British Pakistani">Pakistani/British Pakistani</option>
                                        <option value="Bangladeshi/British Bangladeshi">Bangladeshi/British Bangladeshi</option>
                                        <option value="Other Asian Background">Other Asian Background</option>
                                        <option value="Caribbean">Caribbean</option>
                                        <option value="Chinese">Chinese</option>
                                        <option value="Other Black Background">Other Black Background</option>
                                        <option value="Other ethnic group">Other ethnic group</option>
                                    </select> <i></i>
                                </label>
                                <em ng-show="formMedical.ethnicity.$dirty && formMedical.ethnicity.$error.isEthnicityValid" class="invalid">Ethnicity is required.</em>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="input" ng-class="formMedical.height.$dirty && (formMedical.height.$error.required
                                && formMedical.height.$error.isWeightHeight)?'state-error':''">
                                    <input type="text" name="height" required is-weight-height ng-model="newUser.height" placeholder="Current Height">
                                </label>
                                <em ng-show="formMedical.height.$dirty && formMedical.height.$error.required" class="invalid">Height is required.</em>
                                <em ng-show="formMedical.height.$dirty && formMedical.height.$error.isWeightHeight" class="invalid">Height is not valid.</em>
                            </section>
                            <section class="col col-6">
                                <label class="input" ng-class="formMedical.weight.$dirty && (formMedical.weight.$error.required
                                && formMedical.weight.$error.isWeightHeight)?'state-error':''">
                                    <input type="text" name="weight" required is-weight-height ng-model="newUser.weight" placeholder="Current Weight">
                                </label>
                                <em ng-show="formMedical.weight.$dirty && formMedical.weight.$error.required" class="invalid">Weight is required.</em>
                                <em ng-show="formMedical.weight.$dirty && formMedical.weight.$error.isWeightHeight" class="invalid">Weight is not valid.</em>
                            </section>
                        </div>
                     <div class="row">
                         <section style="margin-left: 3%">
                                 <label style="margin: 0% 2% 2% 0%" class="label"><strong>Do you have any of the following diseases?</strong></label>
                                 <div class="row">
                                     <div class="col col-6">
                                         <label class="checkbox">
                                             <input type="checkbox" name="asthma" ng-model="newUser.asthma">
                                             <i></i>Asthma (on medication)</label>
                                         <label class="checkbox">
                                             <input type="checkbox" name="cancer" ng-model="newUser.cancer">
                                             <i></i>Cancer</label>
                                         <label class="checkbox">
                                             <input type="checkbox" name="diabetes" ng-model="newUser.diabetes">
                                             <i></i>Diabetes</label>
                                     </div>
                                     <div class="col col-6">
                                         <label class="checkbox">
                                             <input type="checkbox" name="heart" ng-model="newUser.heart">
                                             <i></i>Chronic heart disease</label>
                                         <label class="checkbox">
                                             <input type="checkbox" name="kidney" ng-model="newUser.kidney">
                                             <i></i>Chronic kidney disease</label>
                                         <label class="checkbox">
                                             <input type="checkbox" name="lung" ng-model="newUser.lung">
                                             <i></i>Chronic lung disease</label>
                                     </div>
                                 </div>
                             <div class="row">
                                 <div class="col col-6">
                                     <label class="checkbox">
                                         <input type="checkbox" name="epilepsy" ng-model="newUser.epilepsy">
                                         <i></i>Epilepsy</label>
                                     <label class="checkbox">
                                         <input type="checkbox" name="stroke" ng-model="newUser.stroke">
                                         <i></i>Stroke/TIA</label>
                                     <label class="checkbox">
                                         <input type="checkbox" name="hypertension" ng-model="newUser.hypertension">
                                         <i></i>Hypertension (high blood pressure)</label>
                                 </div>
                                 <div class="col col-6">
                                     <label class="checkbox">
                                         <input type="checkbox" name="hypothyroidism" ng-model="newUser.hypothyroidism">
                                         <i></i>Hypothyroidism (underactive thyroid)</label>
                                     <label class="checkbox">
                                         <input type="checkbox" name="mental" ng-model="newUser.mental">
                                         <i></i>Mental health concerns (give details)</label>
                                     <label class="checkbox">
                                         <input type="checkbox" name="operations" ng-model="newUser.operations">
                                         <i></i>Previous operations</label>
                                 </div>
                             </div>
                         </section>
                     </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
