<div class="tab-pane active" id="tab1">
    <br>
    <h3><strong>Step 1 </strong> - Account type</h3>

    <div class="row">
            <section>
                <label class="label">Columned radios</label>
                <div class="row">
                        <div class="smart-form">
                            <div class="col col-4"></div>
                            <div class="col col-6">
                                <div class="separate">
                                    <label class="radio">
                                        <input type="radio" name="radio" ng-model="newUser.type" value="Patient" checked="checked">
                                        <i></i>Patient</label>
                                </div>
                                <div class="separate">
                                    <label class="radio">
                                        <input type="radio" ng-model="newUser.type" value="Doctor" name="radio">
                                        <i></i>Medical Personnel</label>
                                </div>
                            </div>
                        </div>
                </div>
            </section>
    </div>
</div>
