<div class="tab-pane active" id="tab2">
    <h3 style="display: none"><strong>Step 3</strong> - Medical Information</h3>

    <div role="content">
        <div class="widget-body no-padding">
            <div class="smart-form">
                <form name="formMedical" novalidate>

                 <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <md-input-container class="md-block" flex-gt-sm md-is-error="formMedical.nhsNumber.$dirty && (formMedical.nhsNumber.$error.required || formMedical.nhsNumber.$error.nhsNumberValid || formMedical.nhsNumber.$error.checkExistsNhs)">
                                    <label>NHS Number</label>
                                    <md-icon md-svg-src="resourses/img/material-icons/ic_local_hospital_black_24px.svg"></md-icon>
                                    <input type="text" name="nhsNumber" ng-model="newUser.nhsNumber" required nhs-number-valid check-exists-nhs>
                                    <div ng-messages="formMedical.nhsNumber.$error">
                                        <div ng-message="required">NHS Number is required!</div>
                                        <div ng-message="nhsNumberValid">NHS Number is not valid!</div>
                                        <div ng-message="checkExistsNhs">NHS Number is not valid!</div>
                                    </div>
                                </md-input-container>
                            </section>
                            <section class="col col-6">
                                <md-input-container  class="md-block" flex-gt-sm md-is-error="formMedical.ethnicity.$dirty && formMedical.ethnicity.$error.required">
                                    <label>Ethnicity</label>
                                    <md-icon md-svg-src="resourses/img/material-icons/ic_group_black_24px.svg" class="name"></md-icon>
                                    <md-select name="ethnicity" ng-model="newUser.ethnicity" required>
                                        <md-option value="British/Mixed British">British/Mixed British</md-option>
                                        <md-option value="Irish">Irish</md-option>
                                        <md-option value="Other White Background">Other White Background</md-option>
                                        <md-option value="White Caucasian">White Caucasian</md-option>
                                        <md-option value="White & BlackCaribbean">White & BlackCaribbean</md-option>
                                        <md-option value="White & Black African">White & Black African</md-option>
                                        <md-option value="Other Mixed Background">Other Mixed Background</md-option>
                                        <md-option value="Indian/ British Indian">Indian/ British Indian</md-option>
                                        <md-option value="Pakistani/British Pakistani">Pakistani/British Pakistani</md-option>
                                        <md-option value="Bangladeshi/British Bangladeshi">Bangladeshi/British Bangladeshi</md-option>
                                        <md-option value="Other Asian Background">Other Asian Background</md-option>
                                        <md-option value="Caribbean">Caribbean</md-option>
                                        <md-option value="Chinese">Chinese</md-option>
                                        <md-option value="Other Black Background">Other Black Background</md-option>
                                        <md-option value="Other ethnic group">Other ethnic group</md-option>
                                    </md-select>
                                    <div ng-messages="formMedical.ethnicity.$error">
                                        <div ng-message="required">
                                            Ethnicity is required!
                                        </div>
                                    </div>
                                </md-input-container>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <md-input-container class="md-block" flex-gt-sm md-is-error="formMedical.height.$dirty && (formMedical.height.$error.required || formMedical.height.$error.isWeightHeight)">
                                    <label>Current Height</label>
                                    <md-icon md-svg-src="resourses/img/material-icons/ic_accessibility_black_24px.svg"></md-icon>
                                    <input type="text" name="height" ng-model="newUser.height" required is-weight-height>
                                    <div ng-messages="formMedical.height.$error">
                                        <div ng-message="required">Height is required!</div>
                                        <div ng-message="isWeightHeight">Height is not valid!</div>
                                    </div>
                                </md-input-container>
                            </section>
                            <section class="col col-6">
                                <md-input-container class="md-block" flex-gt-sm md-is-error="formMedical.weight.$dirty && (formMedical.weight.$error.required || formMedical.weight.$error.isWeightHeight)">
                                    <label>Current Weight</label>
                                    <md-icon md-svg-src="resourses/img/material-icons/ic_accessibility_black_24px.svg"></md-icon>
                                    <input type="text" name="weight" ng-model="newUser.weight" required is-weight-height>
                                    <div ng-messages="formMedical.weight.$error">
                                        <div ng-message="required">Weight is required!</div>
                                        <div ng-message="isWeightHeight">Weight is not valid!</div>
                                    </div>
                                </md-input-container>
                            </section>
                        </div>
                     <div class="row">
                         <section style="margin-left: 3%">
                                 <label style="margin: 0% 2% 2% 0%" class="label"><strong>Do you have any of the following diseases?</strong></label>
                                 <div class="row">
                                     <div class="col col-6">
                                         <label class="checkbox">
                                             <input type="checkbox" name="asthma" ng-model="newUser.healthProblems.asthma">
                                             <i></i>Asthma (on medication)</label>
                                         <label class="checkbox">
                                             <input type="checkbox" name="cancer" ng-model="newUser.healthProblems.cancer">
                                             <i></i>Cancer</label>
                                         <label class="checkbox">
                                             <input type="checkbox" name="diabetes" ng-model="newUser.healthProblems.diabetes">
                                             <i></i>Diabetes</label>
                                     </div>
                                     <div class="col col-6">
                                         <label class="checkbox">
                                             <input type="checkbox" name="heart" ng-model="newUser.healthProblems.heart">
                                             <i></i>Chronic heart disease</label>
                                         <label class="checkbox">
                                             <input type="checkbox" name="kidney" ng-model="newUser.healthProblems.kidney">
                                             <i></i>Chronic kidney disease</label>
                                         <label class="checkbox">
                                             <input type="checkbox" name="lung" ng-model="newUser.healthProblems.lung">
                                             <i></i>Chronic lung disease</label>
                                     </div>
                                 </div>
                             <div class="row">
                                 <div class="col col-6">
                                     <label class="checkbox">
                                         <input type="checkbox" name="epilepsy" ng-model="newUser.healthProblems.epilepsy">
                                         <i></i>Epilepsy</label>
                                     <label class="checkbox">
                                         <input type="checkbox" name="stroke" ng-model="newUser.healthProblems.stroke">
                                         <i></i>Stroke/TIA</label>
                                     <label class="checkbox">
                                         <input type="checkbox" name="hypertension" ng-model="newUser.healthProblems.hypertension">
                                         <i></i>Hypertension (high blood pressure)</label>
                                 </div>
                                 <div class="col col-6">
                                     <label class="checkbox">
                                         <input type="checkbox" name="hypothyroidism" ng-model="newUser.healthProblems.hypothyroidism">
                                         <i></i>Hypothyroidism (underactive thyroid)</label>
                                     <label class="checkbox">
                                         <input type="checkbox" name="mental" ng-model="newUser.healthProblems.mental">
                                         <i></i>Mental health concerns (give details)</label>
                                     <label class="checkbox">
                                         <input type="checkbox" name="operations" ng-model="newUser.healthProblems.operations">
                                         <i></i>Previous operations</label>
                                 </div>
                             </div>
                         </section>
                     </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
