<div class="tab-pane active" id="tab2">
    <br>
    <h3><strong>Step 2</strong> - Basic Information</h3>

    <div role="content">
        <div class="widget-body no-padding">
            <div class="smart-form">
                <form name="formBasic" novalidate>
                 <fieldset>

                        <section>
                            <label class="input" ng-class="formBasic.email.$dirty && (formBasic.email.$error.required ||
                            formBasic.email.$error.email)?'state-error':''"> <i class="icon-append fa fa-envelope-o"></i>
                                <input type="email" name="email" placeholder="Email address" required check-exists-user ng-model="newUser.email">
                                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                            </label>
                                <em ng-show="formBasic.email.$dirty && formBasic.email.$error.required" class="invalid">Email is required.</em>
                            <em ng-show="formBasic.email.$dirty && formBasic.email.$error.email" class="invalid">Email is invalid</em>
                            <em ng-show="formBasic.email.$dirty && formBasic.email.$error.checkExistsUser" class="invalid">User already exists!</em>
                        </section>

                        <section>
                            <label class="input" ng-class="formBasic.password.$dirty && (formBasic.password.$error.required||formBasic.password.$error.matchPassword)?'state-error':''">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="password" placeholder="Password" id="password" required
                                       password-format differ-from-email ng-model="newUser.password" >
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
                            <em ng-show="formBasic.password.$dirty && formBasic.password.$error.required" class="invalid">Password is required.</em>
                            <em ng-show="formBasic.password.$dirty && formBasic.password.$error.matchPassword" class="invalid">Password does not match.</em>
                            <em ng-show="formBasic.password.$dirty && formBasic.password.$error.passwordFormat" class="invalid">Password must contain at least six characters, at least one number (0-9), one lowercase letter (a-z), one uppercase letter (A-Z)!</em>
                            <em ng-show="formBasic.password.$dirty && formBasic.password.$error.differFromEmail" class="invalid">Password must be different from E-mail.</em>
                        </section>

                        <section>
                            <label class="input" ng-class="formBasic.passwordConfirm.$dirty && (formBasic.passwordConfirm.$error.required||formBasic.passwordConfirm.$error.matchPassword)?'state-error':''">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="passwordConfirm" placeholder="Confirm password" required ng-model="newUser.passwordConfirm" ng-model-options="{ updateOn: 'default blur' }" >
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
                            <em ng-show="formBasic.passwordConfirm.$dirty && formBasic.passwordConfirm.$error.required" class="invalid">Password is required.</em>
                            <em ng-show="formBasic.passwordConfirm.$dirty && formBasic.passwordConfirm.$error.matchPassword" class="invalid">Password does not match.</em>
                        </section>
                    </fieldset>

                 <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="select" ng-class="formBasic.title.$dirty && formBasic.title.$error.required?'state-error':''">
                                    <select name="title" ng-model="newUser.title">
                                        <option value="" selected="" disabled="">Title</option>
                                        <option value="Mr.">Mr.</option>
                                        <option value="Mrs.">Mrs.</option>
                                        <option value="Ms.">Ms.</option>
                                    </select> <i></i> </label>
                                <em ng-show="formBasic.title.$dirty && formBasic.title.$error.required" class="invalid">Gender is required.</em>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="input" ng-class="formBasic.firstname.$dirty && formBasic.firstname.$error.required?'state-error':''">
                                    <input type="text" name="firstname" required ng-model="newUser.firstName" placeholder="First name">
                                </label>
                                <em ng-show="formBasic.firstname.$dirty && formBasic.firstname.$error.required" class="invalid">First name is required.</em>
                            </section>
                            <section class="col col-6">
                                <label class="input" ng-class="formBasic.surname.$dirty && formBasic.surname.$error.required?'state-error':''">
                                    <input type="text" name="surname" required ng-model="newUser.surname" placeholder="Surname">
                                </label>
                                <em ng-show="formBasic.surname.$dirty && formBasic.surname.$error.required" class="invalid">Last name is required.</em>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="select" ng-class="formBasic.gender.$dirty && formBasic.gender.$error.required?'state-error':''">
                                    <select name="gender" required ng-model="newUser.gender">
                                        <option value="" selected="" disabled="">Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="NoAnswer">Prefer not to answer</option>
                                    </select> <i></i> </label>
                                <em ng-show="formBasic.gender.$dirty && formBasic.gender.$error.required" class="invalid">Gender is required.</em>
                            </section>
                            <section class="col col-6">

                                <label class="input"
                                       ng-class="{'state-error': formBasic.dateOfBirth.$dirty && formBasic.dateOfBirth.$error.required }">

                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
                                            <div class="input-group">
                                                <input type="date" required name="dateOfBirth" placeholder="Date of birth" class="form-control" data-ng-model="newUser.dateOfBirth">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="newUser.dateOfBirth" ng-required="true"
                                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown1',minView:'day',startView:'year' }"></datetimepicker>
                                        </ul>
                                    </div>
                                </label>
                                <em ng-show="formBasic.dateOfBirth.$dirty && formBasic.dateOfBirth.$error.required"
                                    class="invalid">Please enter your birth date</em>
                            </section>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
