
<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-5">
        <div>


            <form name="resetPasswordForm" novalidate id="resetPassword-form">
                <header style="border-bottom: 1px solid rgba(0,0,0,.1);">
                    <h2>Reset Your Trichrome Password</h2>
                </header>

                <fieldset>

                    <section>
                        <br/>
                        <md-input-container class="md-block" flex-gt-sm md-is-error="submitted && (resetPasswordForm.password.$error.required || resetPasswordForm.password.$error.pattern)">
                            <label>New Password</label>
                            <md-icon md-svg-src="resourses/img/material-icons/ic_lock_black_24px.svg" class="name"></md-icon>
                            <input type="password" name="password" ng-model="newUser.password" required md-no-asterisk="" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/">
                            <div ng-messages="resetPasswordForm.password.$error">
                                <div ng-message="required">
                                    Password is required!
                                </div>
                                <div ng-message="pattern">
                                    Password must contain at least six characters, at least one number (0-9), one lowercase letter (a-z), one uppercase letter (A-Z)!
                                </div>
                            </div>
                        </md-input-container>
                    </section>

                    <section>
                        <md-input-container class="md-block" flex-gt-sm md-is-error="submitted && (resetPasswordForm.passwordConfirm.$error.required || resetPasswordForm.passwordConfirm.$error.pattern)">
                            <label>New Password (again):</label>
                            <md-icon md-svg-src="resourses/img/material-icons/ic_lock_black_24px.svg" class="name"></md-icon>
                            <input type="password" name="passwordConfirm" ng-model="newUser.passwordConfirm" required md-no-asterisk="" ng-pattern="{{newUser.password}}">
                            <div ng-messages="resetPasswordForm.passwordConfirm.$error">
                                <div ng-message="required">
                                    Password is required!
                                </div>
                                <div ng-message="pattern">
                                    Password does not match!
                                </div>
                            </div>
                        </md-input-container>
                    </section>


                </fieldset>
                <footer>
                    <span></span>

                    <div style="width: 88px; margin: 0 auto">
                        <md-button class="md-raised md-primary" ng-click="submitResetPassword()">
                            Submit
                        </md-button>
                    </div>

                </footer>

            </form>
        </div>
    </div>
</div>