<div ng-controller="resetCtrl" class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">

    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
            <form name="resetForm" novalidate id="reset-form" class="smart-form client-form">
                <header>
                    <b>Reset Your Trichrome Password</b>
                </header>

                <fieldset>

                    <section>
                        <label class="label">Submit your e-mail address and we'll send you a link to reset your password.</label>
                        <label class="label">E-mail</label>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                            <input type="email" name="email" ng-model="userCredentials.email" required>
                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
                        <em ng-show="resetForm.email.$error.$dirty && resetForm.email.$error.required" class="invalid">The username is required!</em>
                    </section>
                </fieldset>
                <footer>
                    <span></span>
                    <a ui-sref="confirmSubmit">
                    <button ng-click="submitReset()" class="btn btn-primary">
                        Submit
                    </button>
                     </a>
                </footer>
            </form>

        </div>
    </div>
</div>