
<div ng-controller="resetPasswordCtrl" class="row">

    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">


    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">


            <form name="resetPasswordForm" ng-show="content.success" novalidate id="resetPassword-form" class="smart-form client-form">
                <header>
                    <b>Reset Your Trichrome Password</b>
                </header>

                <fieldset>

                    <section>
                        <label class="label">New Password:</label>
                        <label class="input" ng-class="resetPasswordForm.password.$dirty && (resetPasswordForm.password.$error.required||resetPasswordForm.password.$error.matchPassword)?'state-error':''">
                            <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="password" placeholder="Password" id="password" required
                                   password-format ng-model="newUser.password" >
                            <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
                        <em ng-show="resetPasswordForm.password.$dirty && resetPasswordForm.password.$error.required" class="invalid">Password is required.</em>
                        <em ng-show="resetPasswordForm.password.$dirty && resetPasswordForm.password.$error.matchPassword" class="invalid">Password does not match.</em>
                        <em ng-show="resetPasswordForm.password.$dirty && resetPasswordForm.password.$error.passwordFormat" class="invalid">Password must contain at least six characters, at least one number (0-9), one lowercase letter (a-z), one uppercase letter (A-Z)!</em>
                    </section>

                    <section>
                        <label class="label">New Password (again):</label>
                        <label class="input" ng-class="resetPasswordForm.passwordConfirm.$dirty && (resetPasswordForm.passwordConfirm.$error.required||resetPasswordForm.passwordConfirm.$error.matchPassword)?'state-error':''">
                            <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="passwordConfirm" placeholder="Confirm password" required ng-model="newUser.passwordConfirm">
                            <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
                        <em ng-show="resetPasswordForm.passwordConfirm.$dirty && resetPasswordForm.passwordConfirm.$error.required" class="invalid">Password is required.</em>
                        <em ng-show="resetPasswordForm.passwordConfirm.$dirty && resetPasswordForm.passwordConfirm.$error.matchPassword" class="invalid">Password does not match.</em>
                    </section>


                </fieldset>
                <footer>
                    <span></span>

                    <button ng-click="submitResetPassword()" class="btn btn-primary">
                        Submit
                    </button>

                </footer>

            </form>
                <p ng-hide="content.success">Not found</p>
        </div>
    </div>
</div>