html {
  background: none;
  background-color: #FAFAFA;
}
body {
  font-family: 'Fira Sans';
  background-color: #F5F5F5;
  font-style: normal;
  font-weight: 300;
  color: #000;
  font-size: 16px;
  height: initial;
  background: none !important;
  height: auto !important;
}
.alarm {
  color: #ff5252;
  background: none !important;
}
.info {
  color: #ffbc00;
  background: none !important;
}
.reading {
  color: #8bc34a;
  background: none !important;
}
md-toolbar {
  background: transparent !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.137255);
}
#header {
  height: 93px;
  background: white;
  border-bottom: 1px solid #8bc34a;
}
#header #logo-group .navbar-brand img {
  max-width: 300px;
  max-height: inherit !important;
}
#header .logout-container {
  height: 100%;
  padding-top: 24px;
}
#header .logout-container .navbar-toggle {
  margin-top: 0;
}
#header .logout-container .logout-btn {
  cursor: pointer;
  color: #8bc34a;
}
#header .logout-container .logout-btn i.fa-sign-out {
  font-size: 24px;
  margin-top: 6px;
}
#header .navbar-brand.small {
  display: none;
}
#left-panel {
  padding-top: 93px;
  background-color: #F5F5F5 !important;
  background: inherit;
  border-right: 1px solid rgba(0, 0, 0, 0.137255);
}
#left-panel nav ul {
  margin-top: 16px;
}
#left-panel nav ul li a {
  color: #212121;
  font-weight: 700;
  margin-top: 0px;
  border-left: 2px solid transparent;
}
#left-panel nav ul li.active a {
  color: #673AB7 !important;
}
#left-panel nav ul li.active a:before {
  content: none;
}
#left-panel .login-info {
  border: none;
  box-shadow: none;
  height: auto;
}
#left-panel .login-info .user-avatar-mask {
  background-image: url("https://ssl.gstatic.com/accounts/ui/avatar_2x.png");
  background-repeat: no-repeat;
  background-size: 96px auto;
  border-radius: 50%;
  display: block;
  height: 96px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: opacity 0.075s ease 0s;
  width: 96px;
  z-index: 100;
}
#left-panel .login-info .user-avatar-mask.online {
  border: 2px solid #8bc34a;
}
#left-panel .login-info .user-avatar-mask.offline {
  border: 2px solid #ff5252;
}
#left-panel .login-info .user-name {
  display: table;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.137255);
}
/* tabs */
md-tabs md-card {
  min-height: 360px;
}
md-tabs md-ink-bar {
  color: #673AB7;
  background: #673AB7;
}
md-tabs .md-tab.md-active {
  color: #673AB7;
}
md-tabs .md-tab.md-active md-icon svg {
  fill: #673AB7;
}
@media (max-width: 480px) {
  #header {
    height: 93px !important;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-brand.small {
    display: block !important;
  }
}
@media only screen and (max-width: 479px) and (min-width: 320px) {
  .navbar-brand > img {
    margin-top: 0px !important;
  }
}
