@white:                  #fff;
@black:                  #000;
@green:                  #8bc34a;
@green-hover-state:      #7daf43;
@gray:                   #E5E5E4;
@gray-100:               #F5F5F5;
@gray-600:               #757575;
@gray-50:                #FAFAFA;
@gray-strip:             #F8F8F9;
@brand-red:              #ff5252;
@brand-gold:             #ffbc00;
@purple-500:             #673AB7;
@purple-500_0_5:         rgba(103,58,183,0.5);
@text-color-black:       rgb(33, 33, 33);


@nav-height:             92px;
@footer-height:          92px;
@strip-content-padding:  52px;

html {
  background: none;
  background-color: @gray-50;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: 'Fira Sans';
  background-color: #F5F5F5;
  font-style: normal;
  font-weight: 300;
  color: #000;
  font-size: 16px;
  height: initial;
  background: none !important;
  height: auto !important;
}

.alarm {
  color: @brand-red;
  background: none !important;
}

.info {
  color: @brand-gold;
  background: none !important;
}

.reading {
  color: @green;
  background: none !important;
}

.green {
  background-color: @green !important;

  svg {
    fill: white  !important;
  }
}

.red {
  background-color: @brand-red !important;

  svg {
    fill: white  !important;
  }
}

.text-primary {
  color: @purple-500;
}

.font-md {
  font-size: 19px;
  font-weight: normal;
}

md-toolbar {
  background: transparent !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.137255);
}

.modal-title {
  font-weight: 400;
  margin-top: 8px;
}

#circularProgress {
  z-index: 10000;
}

.user-avatar-mask {
  background-image: url("https://ssl.gstatic.com/accounts/ui/avatar_2x.png");
  background-repeat: no-repeat;
  background-size: 96px auto;
  border-radius: 50%;
  display: block;
  height: 96px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: opacity 0.075s ease 0s;
  width: 96px;
  z-index: 100;

  &.online {
    border: 2px solid @green;
  }

  &.offline {
    border: 2px solid @brand-red;
  }

  &.provider-avatar {
    background-image: url("/resourses/img/avatars/8-512.png");
  }
}

.call-patient-icon {
  svg {
    fill: white;
  }
}

.md-avatar {
  &.offline {
    border-left: 0px solid @brand-red !important;
    /*border: 1px solid @brand-red !important;*/
  }
  border: 0;
  &.online {
    border-left: 2px solid @green !important;
    border: 2px solid @green !important;
  }
}

#header {
  height:93px;
  background: white;
  border-bottom: 1px solid @green;

  #logo-group {
    .navbar-brand {
      img {
        max-width: 300px;
        max-height: inherit !important;
      }
    }
  }

  .logout-container {
    height: 100%;
    padding-top: 24px;

    .navbar-toggle {
      margin-top: 0;
    }

    .logout-btn {
      cursor: pointer;
      color: @green;
      i.fa-sign-out {
        font-size: 24px;
        margin-top: 6px;
      }
    }
  }

  .navbar-brand {
    &.small {
      display: none;
    }
  }
}

.sub-totals {
  font-weight: 500;
}

.quantity-price {
  font-weight: 400;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.padding-left-right-8 {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.padding-left-right-16 {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.padding-left-right-24 {
  padding-right: 24px !important;
  padding-left: 24px !important;
}

#left-panel {
  padding-top: 93px;
  background-color: @gray-100 !important;
  background: inherit;
  border-right: 1px solid rgba(0, 0, 0, 0.137255);

  nav {
    ul {
      margin-top: 16px;
      li {
        a {
          color: rgb(33, 33, 33);
          font-weight: 700;
          margin-top: 0px;
          border-left: 2px solid transparent;
        }

        &.active {
          a {
            color: @purple-500 !important;
          }
          a:before {
            content: none;
          }
        }
      }
    }
  }

  .login-info {
    border: none;
    box-shadow: none;
    height: auto;

    .user-avatar-mask {
      background-image: url("https://ssl.gstatic.com/accounts/ui/avatar_2x.png");
      background-repeat: no-repeat;
      background-size: 96px auto;
      border-radius: 50%;
      display: block;
      height: 96px;
      margin-top: 16px;
      margin-bottom: 16px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      transition: opacity 0.075s ease 0s;
      width: 96px;
      z-index: 100;

      &.online {
        border: 2px solid @green;
      }

      &.offline {
        border: 2px solid @brand-red;
      }
    }

    .user-name {
      display: table;
      width: 100%;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: @text-color-black;
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.137255);
    }
  }
}

/* tabs */
md-tabs {
  md-card {
    min-height: 380px;
  }
  md-ink-bar {
    color: @purple-500;
    background: @purple-500;
  }
  .md-tab {
    &.md-active {
      color: @purple-500;

      md-icon {
        svg {
          fill: @purple-500;
        }
      }
    }
  }
}

/* switch */
md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
  background: @purple-500;
}

md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
  background: @purple-500_0_5;
}

/* smart-form */
.smart-form {
  header {
    background: transparent;
  }
  footer {
    background: transparent;
    border: 0;
    padding: 0;
  }
}

/* full calendar */

.fc-toolbar h2 {
  font-weight: 400;
}

.fc-today-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  line-height: 36px;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-grid-row-align: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 0 6px;
  margin: 6px 8px;
  background: transparent;
  color: currentColor;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.fc-prev-button {
  color: rgba(255,255,255,0.87) !important;
  background-color: rgb(63,81,181) !important;
  margin-left: 4px !important;
  margin-right: 4px !important;

  .fc-today-button
}

.fc-next-button {
  color: rgba(255,255,255,0.87) !important;
  background-color: rgb(63,81,181) !important;
  margin-left: 4px !important;
  margin-right: 4px !important;

  .fc-today-button
}

.fc-today {
  background-color: #EDE7F6 !important;
}

.fc-future {
  &.fc-other-month {
    .fc-today;
  }
}

.fc-past {
  background-color: #FAFAFA;
}

.bg-color-greenLight {
  background-color: @green !important;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: 0 !important;
}

md-card-content {
  .fc-unthemed .fc-divider,
  .fc-unthemed .fc-popover,
  .fc-unthemed .fc-row,
  .fc-unthemed tbody,
  .fc-unthemed td,
  .fc-unthemed th,
  .fc-unthemed thead {
    border-color: #d5d5d5;
  }

  .fc-content .fc-time,
  .fc-content .fc-title {
    font-size: 15px;
  }
  .fc-event .fc-bg
  {
    background-color: transparent;
    opacity: 1;
  }
  .fc-time-grid .fc-slats td {
    vertical-align: top;
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
  }
  .fc-content .fc-time {
    display: none;
  }
  .fc-time-grid .fc-slats td {
    height: 65px;
    border: 0;
    border-top: solid 1px transparent;
    font-weight: 500;
    padding-top: 4px;
  }
  .fc-unthemed tbody {
    border-color: transparent;
    background-color: #F5F5F5;
  }

  .fc-time-grid-event .fc-time,
  .fc-time-grid-event .fc-title {
    padding: 5px 0;
  }

  .fc-head {
    display: none !important;
  }

  .fc-time-grid .fc-slats td {
    border-top: 1px solid rgba(0, 0, 0, 0.137255);
  }

  .fc-toolbar .fc-left {
    h2 {
      font-weight: 400;
    }
  }

  .fc-event {
    border-left: 0 !important;
    border-radius: 0 !important;
  }

  .fc-event .fc-content {
    padding: 0 !important;
    padding-top: 6px !important;
    padding-left: 6px !important;
  }

  .fc-time-grid-event .fc-time, .fc-time-grid-event .fc-title {
    padding: 0 !important;
  }

  .fc-time-grid .fc-bgevent, .fc-time-grid .fc-event {
    right: -3% !important;
    left: 1% !important;
  }

  .fc-unthemed tbody {
    background: white !important;
  }

  .fc-toolbar {
    padding-left: 16px;
    padding-right: 16px;
  }

  .fc-unthemed .fc-divider, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border: 0;
  }

  .fc-view-container {
    border-top: 1px solid rgba(0, 0, 0, 0.137255);;
  }
}

@media (max-width: 480px) {
  #header {
    height:93px !important;
  }

  .navbar-brand {
    display: none;

    &.small {
      display: block !important;
    }
  }
}

@media only screen and (max-width: 479px) and (min-width: 320px) {
  .navbar-brand>img {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  .vital-singns-wrapper {
    md-card {
      &.chart-card {
        height: 528px;
      }
    }
    .vital-signs-table {
      height: 380px;
      overflow: auto;
    }

    .dashboard-wrapper {
      height: 400px;
    }
  }

  &.no-padding-right-lg {
    padding-right: 0 !important;
  }

  &.no-padding-left-lg {
    padding-left: 0 !important;
  }
}

@media (min-width: 768px) {
  .no-padding-right-md {
    padding-right: 0 !important;
  }

  .no-padding-left-md {
    padding-left: 0 !important;
  }
}

@media (width: 1200px) {
  .vital-singns-wrapper {
    md-card {
      &.chart-card {
        height: 528px;
      }
    }
    .vital-signs-table {
      height: 380px;
      overflow: auto;
    }

    .dashboard-wrapper {
      height: 400px;
    }
  }

  &.no-padding-right-lg {
    padding-right: 15px !important;
  }

  &.no-padding-left-lg {
    padding-left: 15px !important;
  }
}

@media (width: 768px) {
  /*.navbar-nav {
      display: none !important;
  }*/

  .navbar-collapse {
    &.collapse {
      display: none !important;

      &.in {
        display: block !important;
      }
    }
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  #circularProgress {
     position: absolute;
     top: 40%;
     right: 50%;
     left: auto;
     z-index: 10000;
   }

  .hidden-menu {
    #circularProgress {
      position: absolute;
      top: 40%;
      right: 60%;
      left: auto;
      z-index: 10000;
    }
  }

  .col-md-6 {
    &.no-padding-right-md {
      padding-right: 15px !important;
    }

    &.no-padding-left-md {
      padding-left: 15px !important;
    }
  }

  .vital-signs-table {
    height: 310px;
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .vital-signs-table {
    height: 310px;
    overflow: auto;
  }

  &.no-padding-right-lg {
    padding-right: 15px !important;
  }

  &.no-padding-left-lg {
    padding-left: 15px !important;
  }
}

@media (max-width: 1200px) {
  .vital-signs-table {
    height: 310px;
    overflow: auto;
  }

  &.no-padding-right-lg {
    padding-right: 15px !important;
  }

  &.no-padding-left-lg {
    padding-left: 15px !important;
  }
}

@media (max-width: 1024px) and (min-width: 601px) {
  md-switch {
    .md-label {
      margin-left: 32px;
    }
  }

  /*md-select {
    padding: 10px;
  }*/
}
