.green {
  background: #8bc34a;
}
.red {
  background: #ff5252;
}
.gold {
  background: #ffbc00;
}
.btn:hover {
  color: white !important;
}
.btn:focus {
  color: white !important;
}
.md-input-invalid svg {
  fill: #dd2c00;
}
.register-done {
  width: 48px;
  height: 48px;
}
.register-done svg {
  fill: #8bc34a;
}
.thawteseal-container {
  float: right;
  position: relative;
}
.thawteseal-container a img {
  width: 47px;
  margin-top: -72px;
  margin-right: -7px;
}
.well {
  background-color: transparent;
  border: 1px solid transparent !important;
  border-radius: 0px;
}
.sing-in {
  background-color: #8bc34a !important;
}
#circularProgress {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}
#login-form header {
  background: transparent;
}
#login-form footer {
  background: transparent;
  border: 0;
  padding: 0;
}
.md-input-message-animation {
  font-size: 13px !important;
}
#extr-page {
  height: 100%;
}
#extr-page #main {
  padding-bottom: 0;
}
#extr-page #content {
  padding-top: 0;
}
#extr-page .form-actions {
  margin-bottom: 0 !important;
}
#extr-page .jarviswidget .widget-body {
  padding-bottom: 0px;
}
#extr-page .jarviswidget div {
  font-size: 16px;
}
#extr-page .pager {
  margin: 0 !important;
}
#extr-page body {
  background: none !important;
  background-color: #E5E5E4 !important;
  /*position:absolute; top:0; bottom:0; right:0; left:0;*/
}
#extr-page body #header {
  margin: 0 auto !important;
  height: 93px;
  background: none !important;
  background-color: #E5E5E4 !important;
  border-bottom: none !important;
}
#extr-page body #header .navbar-default {
  border: none;
}
#extr-page body #header .navbar {
  margin: 0 auto !important;
  height: 92px;
}
#extr-page body #header .navbar .navbar-nav {
  height: 92px;
  background-color: white !important;
  float: left;
}
#extr-page body #header .navbar .navbar-nav li.nav {
  background-color: white !important;
  position: relative;
  display: block;
}
#extr-page body #header .navbar .navbar-nav li.nav.active {
  background-color: transparent !important;
}
#extr-page body #header .navbar .navbar-nav li.nav.active a {
  background-color: transparent !important;
  border-top: 4px solid #8bc34a;
  color: #8bc34a;
  padding-top: 21px;
}
#extr-page body #header .navbar .navbar-nav li.nav a {
  height: 92px;
  display: table-cell;
  vertical-align: middle;
  padding-top: 25px;
  font-size: 17px;
  font-weight: 400;
  color: black;
}
#extr-page body #header .navbar .navbar-nav li.nav a:hover {
  border-top: 4px solid #8bc34a;
  background-color: transparent;
  color: #8bc34a;
  padding-top: 21px;
}
#extr-page body #header .navbar .navbar-header {
  background-color: #fff;
  height: 92px;
  padding-left: 15px;
  padding-right: 15px;
}
#extr-page body #header .navbar .navbar-header .navbar-collapse .in {
  overflow-y: inherit;
}
#extr-page body #header .navbar .navbar-header .navbar-brand {
  margin-top: 8px;
  width: 300px;
}
#extr-page body #header .navbar .navbar-header .navbar-brand.small {
  display: none;
}
#extr-page body #header .navbar .navbar-container {
  margin: 0 auto !important;
  border-bottom: 1px solid #8bc34a;
  height: 93px;
  background: white;
}
#extr-page body #header .navbar .navbar-right {
  margin-right: 0;
  margin-top: 0;
}
#extr-page body #header .navbar .navbar-toggle {
  margin-top: 25px;
}
#extr-page body #header .navbar .navbar-toggle span.icon-bar {
  width: 20px;
  height: 3px;
  border-radius: 2px;
  display: block;
  margin-bottom: 5px;
}
#extr-page body #header .navbar .navbar-toggle span.icon-bar.green {
  background: #8bc34a;
}
#extr-page body #header .navbar .navbar-toggle span.icon-bar.red {
  background: #ff5252;
}
#extr-page body #header .navbar .navbar-toggle span.icon-bar.gold {
  background: #ffbc00;
}
#extr-page body #main {
  margin: 0 auto !important;
}
#extr-page body .page-footer {
  margin: 0 auto !important;
  position: relative;
  padding-left: 15px;
  padding-top: 20px;
  height: 60px;
}
#extr-page .registration-wizard {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  height: auto;
}
#extr-page .registration-wizard h2 {
  color: #232323;
  letter-spacing: -1px;
  font-size: 22px;
  margin: 20px 0;
  line-height: normal;
  font-weight: 400;
  width: auto;
}
#extr-page .registration-wizard h2 md-icon {
  margin-top: -4px;
}
#extr-page h3 {
  color: #232323;
  letter-spacing: -1px;
  font-size: 18px;
  margin: 20px 0;
  line-height: normal;
  font-weight: 300;
  width: auto;
}
#extr-page h3 md-icon {
  margin-top: -4px;
}
#extr-page .registration-wizard-content {
  border: 0px;
}
#extr-page .registration-wizard-content .bootstrapWizard li:before {
  border-top: 2px solid grey;
}
#extr-page .registration-wizard-content .bootstrapWizard li.active .step {
  background: #3f51b5 !important;
  border: 0;
}
#extr-page .registration-wizard-content .bootstrapWizard li .step {
  background: grey !important;
  border: 0;
}
#extr-page .registration-wizard-content .bootstrapWizard li.complete .step {
  padding: 7px 13px;
  background: #8bc34a !important;
}
#extr-page .registration-wizard-content .form-actions {
  background-color: transparent;
  border: 0;
  margin-top: 0;
}
#extr-page .registration-wizard-content .form-bootstrapWizard {
  margin-bottom: 24px;
}
#extr-page .thawteseal-container {
  float: right;
  position: relative;
}
#extr-page .thawteseal-container a img {
  width: 47px;
  margin-top: -74px;
  margin-right: -7px;
}
@media (min-width: 768px) {
  #extr-page .navbar-nav {
    float: left;
    margin: -58.5px -15px;
    /*width: 400px;*/
    margin-left: 300px;
  }
}
@media (min-width: 1560px) {
  #extr-page #main {
    width: 1560px !important;
  }
  #extr-page .navbar {
    width: 1560px !important;
  }
  #extr-page .navbar .navbar-container {
    width: 1560px !important;
  }
  #extr-page .page-footer {
    width: 1560px !important;
  }
  #extr-page #header {
    width: 1560px !important;
  }
}
@media (max-width: 1559px) {
  #extr-page #main {
    width: 100% !important;
  }
  #extr-page #main .navbar {
    width: 100% !important;
  }
  #extr-page .page-footer {
    width: 100% !important;
  }
  #extr-page #header {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  #extr-page body #header {
    overflow: inherit;
  }
  #extr-page body #header .navbar .navbar-container {
    width: 100% !important;
  }
  #extr-page body #header .navbar .navbar-header {
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #extr-page body #header .navbar .navbar-header .navbar-toggle {
    border-color: transparent !important;
  }
  #extr-page body #header .navbar .navbar-header .navbar-toggle:hover {
    background-color: transparent;
  }
  #extr-page body #header .navbar .navbar-header .navbar-toggle:active {
    background-color: transparent;
  }
  #extr-page body #header .navbar .navbar-header .navbar-toggle:focus {
    background-color: transparent;
  }
  #extr-page body #header .navbar .navbar-header .navbar-toggle:visited {
    background-color: transparent;
  }
  #extr-page body #header .navbar .navbar-header .navbar-brand {
    padding-left: 30px !important;
  }
  #extr-page body #header .navbar .navbar-header .navbar-collapse {
    position: absolute;
    width: 100%;
    margin-top: 93px;
    border: 0 transparent;
    padding-left: 0px;
    padding-right: 0px;
  }
  #extr-page body #header .navbar .navbar-nav {
    width: 100%;
    height: auto !important;
    margin: 0 !important;
  }
  #extr-page body #header .navbar .navbar-nav li.nav {
    height: 80px;
  }
  #extr-page body #header .navbar .navbar-nav li.nav a {
    border-top: 0px !important;
    border-bottom: 1px solid #8bc34a !important;
    height: inherit !important;
    display: inherit !important;
    vertical-align: inherit !important;
    padding-top: 30px !important;
  }
  #extr-page body #header .navbar .navbar-nav li.nav.active {
    background-color: #8bc34a !important;
  }
  #extr-page body #header .navbar .navbar-nav li.nav.active a {
    color: white !important;
  }
}
@media (max-width: 356px) {
  #extr-page #header .navbar .navbar-header .navbar-brand {
    display: none !important;
  }
  #extr-page #header .navbar .navbar-header .navbar-brand.small {
    display: inherit !important;
    margin-top: -68px;
  }
}
