
/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.provider img{
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgrey;
}

.provider h4{
    padding-top: 10px;
}

#logo{
    width: 300px;
}

#header{
    background-color: #ffffff;
    height:71px;
}

.separate{
    margin: 10%;
}

.bootstrapWizard li{
    width: 25%;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.daytime-schedule .well{
    /*min-height: 200px!important;*/
    padding: 5px;
    margin: 5px;
}


.navbar-default {
    background-color: inherit;
    border-color: #f4f4f4!important;
}

.nav {
    background-color: #f4f4f4!important;
    border-color: #f4f4f4!important;
}

#header>:first-child{
    width: auto;
    height:71px;
}

#extr-page{
    background: auto;
}

#create_account_link:hover{
background-color: #f4f411;
}

#create_provider_link:hover{
    background-color: #f4f411;
}
/* # BRANDING */
.site-branding {
    display:table;
    padding-left:25px;
}

.site-branding .logo {
    display:table-cell;
}
.site-branding .branding-text {
    display:table-cell;
    vertical-align:middle;
    color: #333333;
    font-size: 21px;
    font-weight: 400;
    line-height: 20px;
    padding-left:25px;
}

.BooleanPrefix {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.MinValue {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.MaxValue{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.Operator{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.Value{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.invalid-value {
    background: #fff0f0;
    border-color: #A90329;
}
.selected-conditions {
    list-style-type: none;
}
#left-panel {
    padding-top:79px;
}
#logo img{
    height: 32px;
    float: left;
}
#logo h4{
    padding-left:44px;
    font-size: 22px;
}
.down a{
    margin-top:20px!important;
}