<div class="tab-pane fade no-padding-bottom active in">
    <md-content class="row" style="margin-right: 0px; margin-left: 0px;">
        <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="device in vm.devices" ng-click="vm.showDetails(device)" style="padding-right: 0px; padding-left: 0px;">
            <md-card>
                <div ng-if="device.imagesUrls && device.imagesUrls.length" style="height: 150px;margin-top: 20px">
                    <img ng-src="{{device.imagesUrls[0]}}" class="img-rounded img-responsive"
                         style="margin-left: auto;margin-right: auto;max-height: 150px;">
                </div>
                <md-card-title>
                    <md-card-title-text>
                        <h3>{{device.model}}<span class="pull-right text-primary">&pound{{device.price | number : 2}}</span>
                            <small><p>({{device.deviceModelType}})</p></small>
                        </h3>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    {{device.description}}
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>