<md-content class="" layout="row" ng-if="vm.basket.Items.length">
    <md-card style="width: 100%; min-height: inherit">
        <md-card-content>
            <div class=" col-md-12 col-sm-12">

                <div class="row">
                    <div class="col-xs-8 ">
                        <b>Product</b>
                    </div>
                    <div class="col-xs-2">
                        <div class="pull-right ">
                            <b>Quantity</b>
                        </div>
                    </div>
                    <div class="col-xs-2 ">
                        <div class="pull-right ">
                            <b>Price</b>
                        </div>
                    </div>

                </div>
                <div class="padding-top-10">
                    <div ng-repeat="item in vm.basket.Items" class="padding-top-10">
                        <div class="row">
                            <div class="col-xs-2 ">
                                <img ng-src="{{item.Device.imagesUrls[0]}}" class="img-responsive img" style="max-height: 150px;">
                            </div>
                            <div class="col-xs-6">
                                <h3 class="md-headline">{{item.Device.model}}
                                    <small><p>({{item.Device.deviceModelType}})</p></small>
                                </h3>
                                <p>
                                    {{item.Device.description}}
                                </p>
                            </div>
                            <div class="col-xs-2 ">
                                <div class="pull-right text-center">
                                    <div class=" text-primary font-md" style="margin-top: 20px">
                                        <div class="form-group ">
                                            <input type="number" min="0" class="form-control text-right" ng-model="item.Quantity" >
                                        </div>
                                    </div>
                                    <a href="" class="text-primary pull-right" ng-click="vm.removeItem(item)">
                                        Remove
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-2 ">
                                <div class="pull-right text-primary font-md" style="margin-top: 20px">
                                    &pound{{item.Price | number :2}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">

                <div class="pull-right">
                    <span><b>Subtotal {{vm.basket.getTotalItems() | number :0}} item(s) : <span class="text-primary font-md">&pound{{vm.basket.getAmount() | number :2}}</span></b></span>
                    <br>

                    <div class="padding-top-10">
                        <md-button class="md-raised md-primary pull-right" ui-sref="patient.devices.checkout-pay"><i class="fa fa-shopping-cart"></i>
                            &nbsp;Proceed to checkout</md-button>
                    </div>
                </div>

            </div>
        </md-card-content>
    </md-card>
</md-content>