<div class="well well-light ">
    <div ng-if="vm.device.imagesUrls && vm.device.imagesUrls.length" style="height: 150px;">
        <img ng-src="{{vm.device.imagesUrls[0]}}" class="img-rounded img-responsive "
             style="margin-left: auto;margin-right: auto">
    </div>
    <div class="row">
        <div class="col-xs-8 ">
            <h3>{{vm.device.model}}
                <small><p>({{vm.device.deviceModelType}})
                    <a class="txt-color-blueLight cursor-pointer" href="{{vm.device.manufacturerUrl}}"
                       target="_blank" ng-if="vm.device.manufacturerUrl">
                        <i class="fa fa-external-link"></i>
                    </a>
                </p></small>
            </h3>
        </div>
        <div class="col-xs-4">
            <h2 class="pull-right txt-color-red">
                {{vm.device.price | number : 2}}&pound
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="note">
                {{vm.device.description}}
            </p>
        </div>
        <div class="col-md-6">
            <div class="row padding-5">
                <div class="btn  btn-primary pull-right" ng-click="vm.addToBasket(false)">
                    <i class="fa fa-shopping-cart"></i>
                    Add to basket
                </div>
            </div>
            <div class="row padding-5">
                <div class="btn btn-success pull-right " ng-click="vm.addToBasket(true)">
                    <i class="fa fa-money"></i>
                    Add to basket and Proceed checkout
                </div>
            </div>
        </div>

    </div>


    <div ng-if="vm.device.specifications ">
        <ul>
            <li ng-repeat="spec in vm.device.specifications">{{spec}}</li>
        </ul>
    </div>


</div>
