<div class="hidden-xs">
    <md-content layout="row">
        <md-card style="width: 100%; min-height: inherit">
            <md-card-content>

                <md-toolbar layout="row" class="md-hue-3">
                    <div class="md-toolbar-tools">
                        <h2>Products</h2>
                    </div>
                </md-toolbar>

                <md-list-item class="md-3-line md-long-text" ng-repeat="item in vm.basket.Items track by $index">
                    <div class="product-thumb">
                        <img ng-src="{{item.Device.imagesUrls[0]}}" class="img-responsive img" style="max-height: 150px;max-width: 150px;">
                    </div>
                    <div class="md-list-item-text">
                        <div class="col-md-12">
                            <h3 class="md-headline">{{item.Device.model}}
                                <small><p>({{item.Device.deviceModelType}})</p></small>
                            </h3>
                            <p>
                                {{item.Device.description}}
                            </p>
                        </div>

                    </div>
                    <div class="md-secondary-container">
                        <div class="col-md-6 quantity-price">
                            {{item.Quantity | number :0}}
                        </div>
                        <div class="col-md-6 quantity-price">
                            &pound{{item.Quantity * item.Price | number :2}}
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>

                <form class="smart-form">
                    <fieldset>
                        <div class="col col-xs-12 no-padding-right">
                            <div class="pull-right sub-totals">
                                Total: &pound{{vm.basket.getAmount() | number :2}}
                            </div>
                            <br>
                            <br>
                        </div>

                    </fieldset>
                    <fieldset>
                        <div class="col col-md-6 no-padding-left">
                            <label class="quantity-price" ng-if="vm.basket.shippingAddress.country">Shipment info</label>
                            <br>
                            <br>
                            <section ng-if="vm.basket.shippingAddress.country">
                                <p>
                                    {{vm.basket.shippingAddress.country}}<span ng-if="vm.basket.shippingAddress.county">, {{vm.basket.shippingAddress.county}}</span><span ng-if="vm.basket.shippingAddress.town">, {{vm.basket.shippingAddress.town}}</span>
                                </p>
                                <p>
                                    {{vm.basket.shippingAddress.postCode}}, {{vm.basket.shippingAddress.addressLine1}}
                                    <br>
                                <span ng-if="vm.basket.shippingAddress.addressLine2">
                                    {{vm.basket.shippingAddress.addressLine2}}
                                </span>
                                </p>
                            </section>
                        </div>
                        <div class="col col-md-6 text-right no-padding-right">
                            <label class="quantity-price">Payment info</label>
                            <br>
                            <br>
                            <section>
                                <p>
                                    {{vm.basket.payment.nameOnCard}}
                                </p>

                                <p>
                                    {{vm.basket.payment.cardNumber}}
                                </p>

                            </section>
                        </div>
                    </fieldset>
                    <footer>
                        <md-button class="md-raised md-primary pull-right padding-left-right-16" ng-click="vm.confirmOrder()" ng-disabled="vm.loading">Confirm order</md-button>
                    </footer>
                </form>
            </md-card-content>
        </md-card>
    </md-content>
</div>

<div class="visible-xs">
    <md-content class="row" style="margin-right: 0px; margin-left: 0px;">
        <div class="col-lg-4 col-md-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;">
            <md-toolbar class="md-hue-3">
                <div class="md-toolbar-tools">
                    <h2>Products</h2>
                </div>
            </md-toolbar>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="item in vm.basket.Items track by $index" style="padding-right: 0px; padding-left: 0px;">
            <md-card>
                <div style="height: 150px;margin-top: 20px">
                    <img ng-src="{{item.Device.imagesUrls[0]}}" class="img-rounded img-responsive" style="margin-left: auto;margin-right: auto;max-height: 150px;">
                </div>
                <md-card-title>
                    <md-card-title-text>
                        <h3 class="md-headline">{{item.Device.model}}
                            <small><p>({{item.Device.deviceModelType}})</p></small>
                        </h3>
                        <p>{{item.Device.description}}</p>
                        <div>
                            <div class="col-xs-8" style="text-align: right;padding: 4px;">
                                Quantity: &nbsp;<b>{{item.Quantity | number :0}}</b>
                            </div>
                            <div class="col=xs-4">
                                <h2 class="text-primary pull-right" style="margin: 0; font-weight: 500">
                                    &pound{{item.Quantity * item.Price | number :2}}
                                </h2>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;" ng-if="vm.basket.shippingAddress.country">
            <md-toolbar class="md-hue-3">
                <div class="md-toolbar-tools">
                    <h2>Shipping Info</h2>
                </div>
            </md-toolbar>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;" ng-if="vm.basket.shippingAddress.country">
            <md-card style="min-height:inherit;">
                <md-card-title>
                    <md-card-title-text>
                        <p>
                            Country: <b>{{vm.basket.shippingAddress.country}}</b>
                        </p>
                        <p ng-if="vm.basket.shippingAddress.county">
                            County: <b>{{vm.basket.shippingAddress.county}}</b>
                        </p>
                        <p ng-if="vm.basket.shippingAddress.town">
                            Town: <b>{{vm.basket.shippingAddress.town}}</b>
                        </p>
                        <p>
                            Address Line 1: <b>{{vm.basket.shippingAddress.postCode}}, {{vm.basket.shippingAddress.addressLine1}}</b>
                        </p>
                        <p  ng-if="vm.basket.shippingAddress.addressLine2">
                            Address Line 2: <b>{{vm.basket.shippingAddress.addressLine2}}</b>
                        </p>
                        <div style="clear: both"></div>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;">
            <md-toolbar class="md-hue-3">
                <div class="md-toolbar-tools">
                    <h2>Payment info</h2>
                </div>
            </md-toolbar>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;">
            <md-card style="min-height:inherit;">
                <md-card-title>
                    <md-card-title-text>
                        <p>
                            Name on Card: <b>{{vm.basket.payment.nameOnCard}}</b>
                        </p>

                        <p>
                            Card Number: <b>{{vm.basket.payment.cardNumber}}</b>
                        </p>
                        <p>
                            Card Expiration: <b>{{vm.basket.payment.expireMonth | customNumber:2}} / {{vm.basket.payment.expireYear}}</b>
                        </p>
                        <div style="clear: both"></div>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;">
            <md-card style="min-height:inherit;">
                <md-card-title>
                    <md-card-title-text style="text-align: center">
                        <h2 style="font-weight: 600">Total: &pound{{vm.basket.getAmount() | number :2}}</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="column" layout-align="start">
                    <md-button class="md-raised md-primary padding-left-right-16" ng-click="vm.confirmOrder()" ng-disabled="vm.loading">Confirm order</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>



