<div class="container" ng-controller="ProviderAvailabilityCtrl" ng-cloak>
    <div class="row">
        <div class="mdl-tabs__tab-bar">
            <a class="mdl-tabs__tab" href="#tab1">
                <img src="../images/tab-icons/icon-people.png"/>
            </a>
            <a class="mdl-tabs__tab" href="#tab2">
                <img src="../images/tab-icons/icon-person.png"/>
            </a>
            <a class="mdl-tabs__tab" href="#tab3">
                <img src="../images/tab-icons/icon-alerts.png"/>
            </a>
            <a class="mdl-tabs__tab" href="#tab4">
                <img src="../images/tab-icons/icon-reports.png"/>
            </a>
            <a class="mdl-tabs__tab  is-active" href="#tab5">
                <img src="../images/tab-icons/icon-timer.png"/>
            </a>
            <a class="mdl-tabs__tab" href="#tab6">
                <img src="../images/tab-icons/icon-list.png"/>
            </a>
        </div>

        <div id="tab1" class="mdl-tabs__panel">
            Tab2 Content
        </div>
        <div id="tab2" class="mdl-tabs__panel">
            Tab2 Content
        </div>
        <div id="tab3" class="mdl-tabs__panel">
            Tab3 Content
        </div>
        <div id="tab4" class="mdl-tabs__panel">
            Tab1 Content
        </div>
        <div id="tab5" class="mdl-tabs__panel is-active">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="calendar" class="calendar" ng-model="vm.eventSources" config="vm.uiConfig.calendar" ui-calendar="vm.uiConfig.calendar"></div>

                        <md-content id="content" layout="column" flex>
                            <md-content flex layout="column" layout-align="center center" layout-padding>
                                <div layout layout-fill layout-align="center start">
                                    <md-card layout-align="start center" layout="column">
                                        <md-card-content layout="column">
                                            <md-button class="md-raised md-warn" ng-click="showDatePicker($event)" aria-label="show picker">show picker</md-button>

                                            <div>{{ currentDate | date:'fullDate' }}</div>
                                        </md-card-content>
                                    </md-card>

                                </div>
                            </md-content>

                            <script type="text/ng-template" id="/modal.datepicker.html">
                                <md-dialog aria-label="" class="md-datepicker" ng-class="{ 'portrait': !$mdMedia('gt-md') }">
                                    <md-dialog-content layout="row" layout-wrap>
                                        <div layout="column" layout-align="start center">
                                            <md-toolbar layout-align="center center" class="md-datepicker-dow md-primary"><span>{{ datepicker.currentMoment.format("dddd") }}</span></md-toolbar>
                                            <md-toolbar layout-align="center center" class="md-datepicker-date md-hue-1 md-primary" layout="column">
                                                <div class="md-datepicker-month">{{ datepicker.currentMoment.format("MMM") }}</div>
                                                <div class="md-datepicker-day">{{ datepicker.currentMoment.format("DD") }}</div>
                                                <md-select class="md-datepicker-year" placeholder="{{ datepicker.currentMoment.format('YYYY') }}" ng-model="year" ng-change="datepicker.setYear()">
                                                    <md-option ng-value="year" ng-repeat="year in yearsOptions">{{ year }}</md-option>
                                                </md-select>
                                            </md-toolbar>
                                        </div>
                                        <div layout="column" layout-align="start center" class="md-datepicker-calendar">
                                            <div layout="row" layout-align="space-between center" class="md-datepicker-monthyear">
                                                <md-button aria-label="mese precedente" class="md-icon-button" ng-click="datepicker.prevMonth()"><md-icon md-svg-src="http://upload.wikimedia.org/wikipedia/commons/a/a4/Ic_chevron_left_36px.svg"></md-icon></md-button>
                                                {{ datepicker.currentMoment.format("MMMM YYYY") }}
                                                <md-button aria-label="mese successivo" class="md-icon-button" ng-click="datepicker.nextMonth()"><md-icon md-svg-src="http://upload.wikimedia.org/wikipedia/commons/8/8d/Ic_chevron_right_36px.svg"></md-icon></md-button>
                                            </div>
                                            <div layout="row" layout-align="space-around center" class="md-datepicker-week-days">
                                                <div layout layout-align="center center" ng-repeat="d in datepicker.weekDays track by $index">{{ d }}</div>
                                            </div>

                                            <div layout="row" layout-wrap class="md-datepicker-days">
                                                <div layout layout-align="center center" ng-repeat-start="n in datepicker.getDaysInMonth() track by $index">
                                                    <md-button aria-label="seleziona giorno" ng-if="n !== false" ng-class="{'md-accent': datepicker.currentMoment.date() == n}" ng-click="datepicker.selectDate(n)">{{ n }}</md-button>
                                                </div>
                                                <div flex ng-if="($index + 1) % 7 == 0" ng-repeat-end></div>
                                            </div>
                                        </div>
                                    </md-dialog-content>
                                    <div class="md-actions" layout="row">
                                        <md-button ng-click="datepicker.cancel()" aria-label="annulla">Cancel</md-button>
                                        <md-button ng-click="datepicker.confirm()" aria-label="ok">OK</md-button>
                                    </div>
                                </md-dialog>
                            </script>
                        </md-content>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab6" class="mdl-tabs__panel">
            Tab1 Content
        </div>
    </div>
</div>