<div class="container" ng-controller="ProviderAvailabilityCtrl" ng-cloak>
    <div class="row">
        <div class="mdl-tabs__tab-bar">
            <a class="mdl-tabs__tab" href="#tab1">
                <img src="../images/tab-icons/icon-people.png"/>
            </a>
            <a class="mdl-tabs__tab" href="#tab2">
                <img src="../images/tab-icons/icon-person.png"/>
            </a>
            <a class="mdl-tabs__tab" href="#tab3">
                <img src="../images/tab-icons/icon-alerts.png"/>
            </a>
            <a class="mdl-tabs__tab" href="#tab4">
                <img src="../images/tab-icons/icon-reports.png"/>
            </a>
            <a class="mdl-tabs__tab  is-active" href="#tab5">
                <img src="../images/tab-icons/icon-timer.png"/>
            </a>
            <a class="mdl-tabs__tab" href="#tab6">
                <img src="../images/tab-icons/icon-list.png"/>
            </a>
        </div>

        <div id="tab1" class="mdl-tabs__panel">
            Tab2 Content
        </div>
        <div id="tab2" class="mdl-tabs__panel">
            Tab2 Content
        </div>
        <div id="tab3" class="mdl-tabs__panel">
            Tab3 Content
        </div>
        <div id="tab4" class="mdl-tabs__panel">
            Tab1 Content
        </div>
        <div id="tab5" class="mdl-tabs__panel is-active">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="calendar" class="calendar" ng-model="vm.eventSources" config="vm.uiConfig.calendar" ui-calendar="vm.uiConfig.calendar"></div>
                        <br/>
                        <a href="" class="btn-default" ng-click="changeDay()">Change Day</a>
                        <!--<h4>Standard date-picker</h4>-->
                        <!--<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>-->
                    </div>
                </div>
            </div>
        </div>
        <div id="tab6" class="mdl-tabs__panel">
            Tab1 Content
        </div>
    </div>
</div>