<div class="container" ng-controller="ProviderPatientDetailsCtrl" ng-cloak>
    <div class="row">
        <div class="mdl-tabs__tab-bar">
            <a class="mdl-tabs__tab  is-active" href="#tab1">
                <img src="../images/tab-icons/icon-people.png"/>
            </a>
            <a class="mdl-tabs__tab" href="#tab2">
                <img src="../images/tab-icons/icon-person.png"/>
            </a>
            <a class="mdl-tabs__tab" href="#tab3">
                <img src="../images/tab-icons/icon-alerts.png"/>
            </a>
            <a class="mdl-tabs__tab" href="#tab4">
                <img src="../images/tab-icons/icon-reports.png"/>
            </a>
            <a class="mdl-tabs__tab" href="#tab5">
                <img src="../images/tab-icons/icon-timer.png"/>
            </a>
            <a class="mdl-tabs__tab" href="#tab6">
                <img src="../images/tab-icons/icon-list.png"/>
            </a>
        </div>

        <div id="tab1" class="mdl-tabs__panel  is-active">
            <div class="container">
                <div class="row" ng-show="loaded">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-2">
                                <img ng-src="{{patient.avatar}}"
                                     style="width: 150px" class="img-responsive pull-left padding-10 ">

                                <a href="javascript:void(0);" class="btn">Call</a>
                            </div>
                            <div class="col-md-10">
                                <div class="margin-top-10">
                                    <div>
                                        <h1><span ng-model="patient.givenName"></span> <span ng-model="patient.familyName"></span></h1>
                                    </div>
                                    <div>
                                        <strong>Address</strong> : <span ng-model="patient.address1">{{patient.address1}}</span>
                                    </div>
                                    <div>
                                        <strong>Phone </strong>: <span ng-model="patient.phoneNumber">{{patient.phoneNumber}}</span>
                                    </div>
                                    <div>
                                        <strong>Mobile </strong>: <span ng-model="patient.mobileNumber">{{patient.mobileNumber}}</span>
                                    </div>
                                    <div>
                                        <strong>Email </strong>: <span ng-model="patient.email">{{patient.email}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-header" ng-show="loaded">
                            <div class="left-side-container" ng-click="goToLatestReadings();">
                                <img src="../images/icon-latest-readings.png" class="icon-left"/>Latest Readings
                            </div>
                            <div class="button-container text-right">
                                <a class="btn" ng-click="gotoCharts();">More</a>
                            </div>
                        </div>

                        <div class="measure {{measure.deviceType}}" ng-repeat="measure in measures" ng-hide="currentHistory" ng-show="loaded">
                            <h5>{{measure.device}}</h5>
                            <div class="well-container {{measure.deviceType}}">
                                <div class="well-cell">
                                    <div class="icon">icon...</div>
                                    <div class="measure-value">
                                        <div class="value">{{measure.valueForUI}}</div>
                                        <sup class="measure-unit"> {{measure.deviceUnit}}</sup>
                                    </div>
                                </div>
                                <div class="well-cell text-right">
                                    <span class="date-time">{{measure.time}}</span>
                                    <a href="javascript:void(0);" class="btn" ng-click="viewHistory(measure.deviceType);">More Info</a>
                                </div>
                            </div>
                        </div>

                        <div class="chart-details" ng-show="currentHistory">

                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <google-chart dashboard="currentHistory.dashboard" chartid="currentHistory.Id"></google-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab2" class="mdl-tabs__panel">
            Tab2 Content
        </div>
        <div id="tab3" class="mdl-tabs__panel">
            Tab3 Content
        </div>
        <div id="tab4" class="mdl-tabs__panel">
            Tab1 Content
        </div>
        <div id="tab5" class="mdl-tabs__panel">

        </div>
        <div id="tab6" class="mdl-tabs__panel">
            Tab1 Content
        </div>
    </div>
</div>