<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-calendar fa-fw "></i>
        {{modification}} schedule for {{today | date:'dd/MM/yyyy'}}</h4>
</div>
<div class="modal-body hidden-overflow ">

    <form name="scheduleForm" novalidate class="smart-form" id="scheduleForm">
        <header ng-show="currentSchedule">Current schedule: <span>{{currentSchedule}}</span></header>
        <section>
            <div class="textarea" ng-class="{stateError: scheduleForm.schedule.$dirty && scheduleForm.schedule.$invalid}">
                    <textarea  rows="4" name="schedule" id="schedule" schedule-time ime placeholder="Schedule" ng-model="scheduleValue"
                               autofocus required></textarea>
            </div>
            <em ng-show="scheduleForm.schedule.$dirty && scheduleForm.schedule.$error.scheduleTime" class="invalid">Invalid schedule data</em>
            <em ng-show="serverError" class="invalid">Server error has occurred. Try again later.</em>
            <span class="text-info">Example: 08:00 - 12:00, 13:00-17:00 </span>
        </section>
    </form>
</div>
<div class="modal-footer">
    <div class="pull-left">
        <button class="btn-danger" ng-click="delete()" ng-if="session.Id">Delete</button>

    </div>
    <a href="javascript:void(0);" class="btn btn-raised btn-default" ng-click="cancel()">Cancel</a>
    <a href="javascript:void(0);" class="btn btn-raised btn-default btn-success" ng-click="apply()" ng-disabled="scheduleForm.$invalid">Apply</a>
</div>
