@import "../../styles/fonts.css";

html,
body {
    height: 100%;
    background:#ffffff;
}

.container {
    height:100%;
}

.fill{
    height:100%;
    min-height:100%;
}

#my-devices {
    height: 100%;
}

.list-group .list-group-separator.full-width::before {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    content: "";
    float: right;
    width: 100%;
}

.addDeviceOverlay {
    height: 100%;
    width: 100%;
    display: none;
    background-color:#ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.device-image {
    border-radius:50%;
}





.btn-default {
    width: auto;
}

.bottom-container {
    position:absolute;
    bottom:0;
    padding:15px 0;
    left:15px;
    right:15px;
}