@import "../../styles/fonts.css";

#thermometer {
    margin-top: -80px;
    background:#ffffff;
}

#thermometer-measure {
    margin-top: -80px;
}

.btn-default {
    width: auto;
}

/* -------------------------------------- *\
    #Landscape Orientation Only
\* -------------------------------------- */
@media screen and (orientation:landscape) {
    #thermometer {
        background: #ffffff none repeat scroll 0 0;
        margin-top: 50px;
        position:static;
    }
}