html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-caption {
    color:#0091ea;
    top:0;
    position:static;
    left:0;
    right:0;
    padding:20px;
    margin-top:95px;
    text-shadow: none;
    text-align: left;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */
.fill {
    height: 300px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.btn-default {
    width: auto;
}