.page-content-wrapper {
    margin: 8px;
}
.dl-layout__header {
    min-height: 48px !important;
}

.group-separator {
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 8px;
}

.mdl-card {
    min-height: 120px;
    margin-bottom: 8px;
}

h6.mdl-card__title-text {
    font-size: 20px;
}

.notification-summary {
    height: 20px;
    color: rgba(0,0,0,.87);
    padding-bottom: 4px;
}

.notification-message {
    height: 40px;
}

.notification-title {
    font-size: 16px;
    color: rgba(0,0,0,.87);
    padding-bottom: 8px;
}

.unread
{
    font-family: Roboto-Bold;
}

.notification-icon {
    float: left;
    margin-right: 16px;
}

.notification-title-summary {
    float: left;
}

.clear {
    clear: both;
}