@font-face {
    font-family: 'NotoSansRegular';
    src: url('../styles/Fonts/NotoSans/NotoSans-Regular.eot');
    src: local('☺'), url('../styles/Fonts/NotoSans/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../styles/Fonts/NotoSans/NotoSans-Regular.woff') format('woff'),
    url('../styles/Fonts/NotoSans/NotoSans-Regular.ttf') format('truetype'),
    url('../styles/Fonts/NotoSans/NotoSans-Regular.svg#ProximaNova/ProximaNovaSbold') format('svg');
}

@font-face {
    font-family: 'NotoSansBold';
    src: url('../styles/Fonts/NotoSans/NotoSans-Bold.eot');
    src: local('☺'), url('../styles/Fonts/NotoSans/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../styles/Fonts/NotoSans/NotoSans-Bold.woff') format('woff'),
    url('../styles/Fonts/NotoSans/NotoSans-bold.ttf') format('truetype'),
    url('../styles/Fonts/NotoSans/NotoSans-Bold.svg#ProximaNova/ProximaNovaSbold') format('svg');
}