.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
@import "fonts.css";

body {
    font-family:"NotoSansRegular";
}

/* Landing Header */
.header {
    position:absolute;
    left:0;
    right:0;
    z-index:100;
    top:0;
}

.header .header-inner {
    background:#ffffff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    display:table;
    width:100%;
    padding:15px 20px;
}

.header .header-inner .col-left {
    display:table-cell;
    vertical-align:middle;
}

.header .header-inner .col-right {
    display:table-cell;
    vertical-align:middle;
    text-align:right;
}

.img-header {
    max-width:160px;
}

.img-logo {
    max-width:80px;
}

.header .btn-back {
    margin-right:20px;
    display:inline-block;
    height:48px;
    width:48px;
    float:left;
}

.header .page-title {
    color:rgba(0,0,0,0.8);
    float:left;
    display:inline;
    line-height:48px;
    margin:0;
    font-size:24px;
}

    /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }

.material-icons, a .material-icons {
    color:rgba(0,0,0,0.5);
}