.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
@import "fonts.css";

body {
    font-family:"NotoSansRegular";
}

/* Landing Header */
.header {
    position:absolute;
    left:0;
    right:0;
    z-index:100;
    top:0;
}

.header .header-inner {
    background:#ffffff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    display:table;
    width:100%;
    padding:15px 20px;
}

.header .header-inner .col-left {
    display:table-cell;
    vertical-align:middle;
}

.header .header-inner .col-right {
    display:table-cell;
    vertical-align:middle;
    text-align:right;
}

.img-header {
    max-width:160px;
}

.img-logo {
    max-width:80px;
}