/*General*/
body {
    font-family: Roboto-Regular;
}




/*Overrides*/
.patient-appointments thead {
    display: none;
}

.patient-appointments .fc-ltr .fc-time-grid .fc-event-container {
    margin: 0;
}

.patient-appointments .fc-time-grid-event {
    border: 0;
    border-top: 0 none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.patient-appointments .fc-widget-content {
    border-left: 0;
    border-right: 0;
}

.patient-appointments .fc-event .fc-content {
    padding:4px;
}

.patient-appointments .fc-widget-content > span {
    position: relative;
    top:2px;
}

.mdl-textfield__label--accent:after{
    background-color: rgb(124,77,255) !important
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: #9E9E9E;
}

.fc-content .fc-time,
.fc-content .fc-title {
    font-size: 15px;
}

.fc-time-grid .fc-slats td {
    vertical-align: top;
    font-size: 15px;
}




/*Modal*/
.book-appointment-content {
    padding: 0 !important;
}

