/*General*/
body {
    font-family: Roboto-Regular;
}

.clear {
    clear: both;
}

.offline {
    background: #B39DDB !important; //200
}

a.offline {
    color: #B39DDB !important; //200;
    background: transparent !important;
}

.mdl-list .divider {
    position: relative;
    margin-left: 72px;
    z-index: 1000;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.mdl-layout__container {
    background-color: #F5F5F5;
}

.mdl-layout__content {
    background-color: #F5F5F5;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.mdl-layout__tab {
    font-family: Roboto-Medium;
}

.mdl-layout__tab-bar-button {
    background-color: #EEEEEE !important;
}

.mdl-layout__tab-bar-container {
    background-color: #EEEEEE !important;
}

.mdl-layout__tab-bar {
    background-color: #EEEEEE !important;
}

.primary-bg {
    background-color: #EEEEEE;
}

/* provider user profile */
.profile-image-container {
    height: 176px;
    position: relative;
    padding-top:16px;
}

.profile-image-container .userName {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.profile-user-photo {
    /*margin-top: 48px;*/
    border-radius: 50%;
    background-color: #FAFAFA !important;
}

.call-fab-container {
    position: absolute;
    right: 16px;
    margin-top: -28px;
    z-index: 1000;
}

.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons {
    font-size: 24px !important;
    padding: 8px !important;
}

/* end provider user profile */

/*Overrides*/
.patient-appointments thead {
    display: none;
}

.patient-appointments .fc-ltr .fc-time-grid .fc-event-container {
    margin: 0;
}

.patient-appointments .fc-time-grid-event {
    border: 0;
    border-top: 0 none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.mbsc-material .dw-cal-btn-txt,
.mbsc-material .dwb,
.mbsc-material .dw-hl-now .dw-cal-today{
    color: #673AB7;
}

.mbsc-material .dw-cal .dw-sel .dw-cal-day-fg {
    background: rgba(103,58,183,.3);
}

.patient-appointments .fc-widget-content {
    border-left: 0;
    border-right: 0;
}

.patient-appointments .fc-event .fc-content {
    padding:4px;
}

.patient-appointments .fc-widget-content > span {
    position: relative;
    top:2px;
}

.mdl-textfield__label--accent:after{
    background-color: rgb(124,77,255) !important
}

button.mdl-button {
    font-family: Roboto-Medium;
}

.mdl-dialog__content textarea {
    resize: none;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: #9E9E9E;
}

.fc-content .fc-time,
.fc-content .fc-title {
    font-size: 15px;
}
.fc-event .fc-bg
{
    background-color: transparent;
    opacity: 1;
}
.fc-time-grid .fc-slats td {
    vertical-align: top;
    font-size: 15px;
}
.fc-content .fc-time {
    display: none;
}
.fc-time-grid .fc-slats td {
    height: 65px;
}
.fc-unthemed tbody {
    border-color: transparent;
    background-color: #F5F5F5;
}


/*Modal*/
.book-appointment-content {
    padding: 0 !important;
}

