.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

@import url(fonts.css);

body {
    font-family:"Roboto-Light";
}

.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family:"Roboto-Light";
}

.row-no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Landing Header */
.header {
    position:absolute;
    left:0;
    right:0;
    z-index:100;
    top:0;
}

.header .header-inner {
    background:#ffffff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    display:table;
    width:100%;
    padding:15px 20px;
}

.header .header-inner .col-left {
    display:table-cell;
    vertical-align:middle;
}

.header .header-inner .col-right {
    display:table-cell;
    vertical-align:middle;
    text-align:right;
}

.img-header {
    max-width:160px;
}

.img-logo {
    max-width:80px;
}

.header .btn-back {
    margin-right:20px;
    display:inline-block;
    height:48px;
    width:32px;
    overflow:hidden;
    float:left;
}

.header .page-title {
    color:rgba(0,0,0,0.8);
    float:left;
    display:inline;
    line-height:48px;
    margin:0;
    font-size:24px;
    font-family:"Roboto-Regular";
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }

.material-icons, a .material-icons {
    color:rgba(0,0,0,0.5);
}

/* Bottom Buttons */

.bottom-buttons-continer {
    background:#ffffff;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    margin:0;
    border-top:1px solid #cdc3b7;
    padding:10px 0;
    width:100%;
    margin:auto;
    overflow:hidden;
}

.bottom-buttons-continer .btn {
    padding:5px 0;
    display:inline-block;
    text-align:center;
    width:100%;
}

.btn-sign-up, .btn-login {
    background:none;
    border:none;
    border-radius:0;


}

.btn:hover, .btn:focus {
    background:none !important;
    outline:none;
}

.btn-sign-up {

    color:#03a9f4 !important;

}

.green-text {
    color:#8bc34a;
}

.brand-green-bg {
    background:#98b743;
}
.brand-gold-bg {
    background:#f8b042;
}
.brand-red-bg {
    background:#e74138;
}

.btn-login {
    color:#8bc34a !important;
}


.btn-default {
    padding:15px;
    text-align:center;
    margin-bottom:5px;
    font-size:18px;
}

.btn-next {
    font-size:18px;
    text-transform:uppercase;
    text-align:center;
    padding:15px;
    color:#03a9f4 !important;
    border-radius:0;
    opacity:1;
    font-family:"Roboto-Bold";
}

.btn-next:disabled {
    opacity:0.4;
}