
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-calendar fa-fw "></i>
            Book appointment</h4>
    </div>
    <div class="modal-body hidden-overflow ">
            <br>
            <form name="bookingForm" novalidate class="smart-form" id="bookingForm">
                <section>
                    <md-input-container class="md-block" md-is-error="submitted && bookingForm.reasonText.$error.required">
                        <label>Describe the reason</label>
                        <textarea name="reasonText" id="reasonText" ng-model="reasonText" md-maxlength="150" rows="4" required></textarea>
                        <div ng-messages="bookingForm.reasonText.$error">
                            <div ng-message="required">
                                Reason is required!
                            </div>
                        </div>
                        <div class="hint" style="font-size: 13px">Describe please the reason of the appointment</div>
                    </md-input-container>
                </section>
            </form>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button class="btn btn-danger" ng-click="delete()" ng-if="session.Id">Delete</button>

        </div>

        <md-button class="md-raised" ng-click="cancel()">Cancel</md-button><md-button class="md-raised md-primary" ng-click="apply()">Book</md-button>
    </div>



