<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-phone fa-fw "></i>
        Call</h4>
</div>
<div class="modal-body hidden-overflow ">
    <div class="user-avatar-mask online" ng-class="{'provider-avatar': !isCalling}"></div>
    <h4 class="text-center">
        {{provider.name}} {{provider.surname}}
    </h4>

    <br>

    <div class="text-center">
        <md-button class="md-fab red" ng-click="cancel()">
            <md-icon md-svg-src="resourses/img/material-icons/ic_call_end_black_48px.svg"></md-icon>
        </md-button>
        <md-button ng-show="!isCalling" class="md-fab green" ng-click="answer()">
            <md-icon md-svg-src="resourses/img/material-icons/ic_local_phone_black_24px.svg"></md-icon>
        </md-button>
    </div>

    <br>
</div>

