<div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-user-md"></i> </span>
        <h2>Patients with appointments</h2>
    </header>
    <div>
        <div class="widget-body row">

            <div class=" col-md-3" ng-repeat="p in vm.providers">
                <div class="well well-light provider">
                    <img ng-src="{{p.avatar}}" class="img-responsive " ng-class="{'online':p.onlineStatus=='online'}">
                    <h4 class="text-center">
                        {{p.name}} - {{p.slotDateTimeString}}
                    </h4>

                    <br>

                    <div class="text-center">
                        <button class="btn btn-labeled btn-success" ng-disabled="p.onlineStatus !='online'"
                                ng-click="vm.call(p, true)">
                            <span class="btn-label">
                            <i class="fa fa-phone"></i></span>Make a call
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
