
<div class="inbox-body">
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <h2><i class="fa fa-lg fa-fw fa-inbox" style="font-size: 1em;vertical-align:0"></i>&nbsp;&nbsp;Inbox</h2>
        </div>
    </md-toolbar>

    <md-list-item class="md-3-line md-long-text" ng-repeat="notification in vm.notifications track by $index" ng-click="vm.openMessage(notification)">
        <div class="notification-icon">
            <i ng-show="notification.category=='info'" class="material-icons info">mail_outline</i>
            <i ng-show="notification.category=='reading'" class="material-icons reading">done</i>
            <i ng-show="notification.category=='alarm'" class="material-icons alarm">warning</i>
        </div>
        <div class="md-list-item-text">
            <h3>{{notification.title}}</h3>
            <p>
                {{notification.summary}}
            </p>
        </div>
        <div class="md-secondary-container">{{vm.getTimeString(notification.dateTime)}}</div>
        <md-divider></md-divider>
    </md-list-item>
    <div style="clear: both"></div>
</div>
