<div class="ng-cloak">
    <md-content>
        <md-card>
            <md-card-title style="background: #757575">
                <md-card-title-media style="margin-left: 34px">
                    <div class="user-avatar-mask" ng-class="statusClass"></div>
                </md-card-title-media>
                <md-card-title-text style="margin-left: 34px; color: rgba(255,255,255,0.85)">
                    <span class="md-headline" style="color: rgba(255,255,255,0.85)">{{givenName}} {{familyName}}</span>
                    <span class="md-subhead" style="color: rgba(255,255,255,0.85)">{{email}}</span>
                    <br>
                <span class="md-subhead" style="color: rgba(255,255,255,0.85)">
                    Address: {{address1}}
                </span>
                <span class="md-subhead" style="color: rgba(255,255,255,0.85)">
                    Phone: {{phoneNumber}}
                </span>
                <span class="md-subhead" style="color: rgba(255,255,255,0.85)">
                    Mobile: {{mobileNumber}}
                </span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </md-content>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <h2><md-icon md-svg-src="resourses/img/material-icons/ic_equalizer_black_48px.svg" class="name"></md-icon>&nbsp;&nbsp;Latest Vital Signs</h2>
        </div>
    </md-toolbar>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <h2><md-icon md-svg-src="resourses/img/material-icons/ic_equalizer_black_48px.svg" class="name"></md-icon>&nbsp;&nbsp;Vital Signs History</h2>
        </div>
    </md-toolbar>
</div>

<!--
<div>

    <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-user-md txt-color-darken"></i> </span>

            <h2>Patient - <strong>{{givenName}} {{familyName}}</strong></h2>

            <ul class="nav nav-tabs pull-right in" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#overview"><i class="fa fa-user-md"></i>
                        <span class="hidden-xs hidden-md">Overview</span></a>
                </li>

                &lt;!&ndash;<li>
                    <a data-toggle="tab" href="#problems" ng-click="openProblems()">
                        <i class="fa fa-table"></i>
                        <span class="hidden-xs hidden-md">Conditions List</span>
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#devices"><i class="fa fa-gears"></i>
                        <span class="hidden-xs hidden-md">Devices</span></a>
                </li>

                 <li>
                         <a data-toggle="tab" href="#alarmtemplates"><i class="fa fa-tasks"></i>
                             <span class="hidden-mobile hidden-tablet">Alarm Templates</span></a>
                     </li>

                <li>
                    <a data-toggle="tab" href="#rules"><i class="fa fa-tags"></i>
                        <span class="hidden-xs hidden-md">Alarm Rules</span></a>
                </li>

                <li>
                    <a data-toggle="tab" href="#scheduler"><i class="fa fa-calendar"></i>
                        <span class="hidden-xs hidden-md">Scheduled session</span></a>
                </li>&ndash;&gt;
            </ul>

        </header>
        &lt;!&ndash; widget div&ndash;&gt;
        <div>


            &lt;!&ndash; widget content &ndash;&gt;
            <div class="widget-body ">

                <div class="tab-content">
                    <div class="tab-pane fade active  in no-padding-bottom" id="overview">
                        &lt;!&ndash;<div class="row">

                            <button class="btn btn-default pull-left" ng-click="cancel()">
                                Back
                            </button>
                            <button class="btn btn-primary pull-right" ng-click="editPatient()">
                                Edit
                            </button>

                        </div>&ndash;&gt;

                        <div class="row ">
                            <div class="">
                                <img ng-src="{{avatar}}"
                                     style="width: 150px" class="img-responsive pull-left padding-10 ">

                                <div class="margin-top-10">
                                    <div>
                                        <h1>{{givenName}} {{familyName}}</h1>
                                    </div>
                                    <div>
                                        <strong>Address</strong> : {{address1}}
                                    </div>
                                    <div>
                                        <strong>Phone </strong>: {{phoneNumber}}
                                    </div>
                                    <div>
                                        <strong>Mobile </strong>: {{mobileNumber}}
                                    </div>
                                    <div>
                                        <strong>Email </strong>: {{email}}
                                    </div>

                                </div>
                            </div>
                        </div>

                        <h2>Patient History</h2>

                        <div class="row">
                            <div class="col-md-6">
                                <div ng-repeat="history in histories" ng-if="$even">
                                    <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
                                        <header>
                                            <h2><b>{{history.deviceName}}</b></h2>
                                            <ul class="nav nav-tabs pull-right in">
                                                <li class="active" ng-click="raiseResizeMessage()">
                                                    <a data-toggle="tab" href="#{{history.Id}}-chart-flot"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-xs hidden-md"> Chart View</span> </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#{{history.Id}}-table"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-xs hidden-md"> Table View </span> </a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </header>
                                        <div>
                                            <div class="widget-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="{{history.Id}}-chart-flot">
                                                        <google-chart dashboard="history.dashboard" chartid="history.Id"></google-chart>
                                                    </div>

                                                    <div class="tab-pane fade in" id="{{history.Id}}-table">
                                                        <div class="table-responsive" style="height: 350px; overflow: auto;">
                                                            <table class="table">
                                                                <thead>
                                                                <tr>
                                                                    <th>Time</th>
                                                                    <th>Measurement</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr ng-repeat="measurement in history.Measurements">
                                                                    <td>{{measurement.DateTime | date:'dd.MM.yyyy HH:mm'}}</td>
                                                                    <td ng-show="measurement.SecondValue">{{measurement.FirstValue}} / {{measurement.SecondValue}}</td>
                                                                    <td ng-show="!measurement.SecondValue">{{measurement.FirstValue}}</td>
                                                                    <td>
                                                                        <button class="btn btn-danger" ng-click="deleteMeasurement(history.Id, measurement)">Delete</button>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                                <tfoot ng-show="history.TotalItemsOnServer > history.Measurements.length">
                                                                <tr>
                                                                    <td colspan="3">
                                                                        <div style="width: 100px;margin: 0 auto;">
                                                                            <button class="btn btn-info margin-top-10" ng-click="loadMoreMeasurements(history)">
                                                                                <i class="fa fa-spinner fa-spin" ng-show="history.loadMoreMeasurementsBusy"></i>Load More
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div ng-repeat="history in histories" ng-if="$odd">
                                    <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
                                        <header>
                                            <h2><b>{{history.deviceName}}</b></h2>
                                            <ul class="nav nav-tabs pull-right in">
                                                <li class="active" ng-click="raiseResizeMessage()">
                                                    <a data-toggle="tab" href="#{{history.Id}}-chart-flot"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-xs hidden-md"> Chart View</span> </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#{{history.Id}}-table"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-xs hidden-md"> Table View </span> </a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </header>
                                        <div>
                                            <div class="widget-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="{{history.Id}}-chart-flot">
                                                        <google-chart dashboard="history.dashboard" chartid="history.Id"></google-chart>
                                                    </div>

                                                    <div class="tab-pane fade in" id="{{history.Id}}-table">
                                                        <div class="table-responsive" style="height: 350px; overflow: auto;">
                                                            <table class="table">
                                                                <thead>
                                                                <tr>
                                                                    <th>Time</th>
                                                                    <th>Measurement</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr ng-repeat="measurement in history.Measurements">
                                                                    <td>{{measurement.DateTime | date:'dd.MM.yyyy HH:mm'}}</td>
                                                                    <td ng-show="measurement.SecondValue">{{measurement.FirstValue}} / {{measurement.SecondValue}}</td>
                                                                    <td ng-show="!measurement.SecondValue">{{measurement.FirstValue}}</td>
                                                                    <td>
                                                                        <button class="btn btn-danger" ng-click="deleteMeasurement(history.Id, measurement)">Delete</button>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                                <tfoot ng-show="history.TotalItemsOnServer > history.Measurements.length">
                                                                <tr>
                                                                    <td colspan="3">
                                                                        <div style="width: 100px;margin: 0 auto;">
                                                                            <button class="btn btn-info margin-top-10" ng-click="loadMoreMeasurements(history)">
                                                                                <i class="fa fa-spinner fa-spin" ng-show="history.loadMoreMeasurementsBusy"></i>Load More
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash; end overview tab pane &ndash;&gt;

                </div>


            </div>
            &lt;!&ndash; end widget content &ndash;&gt;

        </div>
        &lt;!&ndash; end widget div &ndash;&gt;

    </div>
    &lt;!&ndash; end widget &ndash;&gt;


</div>-->
